# Obdelava podatkov 2. del

In [1]:
import datetime
import csv
import pandas as pd
import numpy as np

In [2]:
column_names = [ 'Type A', 'Measure A', 'Units A',
                 'Type B', 'Measure B', 'Units B',
                 'Type C', 'Measure C', 'Units C', 
                 'Datetime']

In [3]:
path = 'data/DATA_rpi_data_long_R.csv'

In [4]:
df_reduntant = pd.read_csv(path, names=column_names)

In [5]:
df_reduntant.head()

,Type A,Measure A,Units A,Type B,Measure B,Units B,Type C,Measure C,Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25
3,Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,2016-11-24 13:37:57
4,Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,2016-11-24 13:38:27

**Urejanje prikaza podatkov**

In [6]:
df_compact = df_reduntant.copy()

In [7]:
map_dict = {'Measure A':'Ping (ms)', 'Measure B': 'Download (Mbit/s)', 'Measure C': 'Upload (Mbit/s)'}

In [8]:
df_compact.rename(columns=map_dict, inplace = True)

In [9]:
df_compact.head()

,Type A,Ping (ms),Units A,Type B,Download (Mbit/s),Units B,Type C,Upload (Mbit/s),Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25
3,Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,2016-11-24 13:37:57
4,Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,2016-11-24 13:38:27

In [10]:
drop_list = ['Type A', 'Type B', 'Type C', 'Units A', 'Units B', 'Units C']

In [11]:
df_compact.drop(drop_list, axis=1, inplace=True)

In [12]:
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)             Datetime
0    26.992             91.80            14.31  2016-11-24 13:36:25
1    24.532             88.19            14.12  2016-11-24 13:36:55
2    20.225             59.86            14.11  2016-11-24 13:37:25
3    19.332             91.81            14.22  2016-11-24 13:37:57
4    22.494             92.05            14.08  2016-11-24 13:38:27

In [13]:
df_compact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 4 columns):
Ping (ms)            679 non-null object
Download (Mbit/s)    679 non-null object
Upload (Mbit/s)      673 non-null float64
Datetime             673 non-null object
dtypes: float64(1), object(3)
memory usage: 21.3+ KB

**Urejanje datuma in časa**

In [14]:
pd.to_datetime(df_compact['Datetime'][0])

Timestamp('2016-11-24 13:36:25')

In [15]:
pd.to_datetime(df_compact['Datetime'][0]).date()

datetime.date(2016, 11, 24)

In [16]:
df_compact['Date'] = pd.to_datetime(df_compact['Datetime']).dt.date

In [17]:
df_compact.info() #ne želimo objekta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 5 columns):
Ping (ms)            679 non-null object
Download (Mbit/s)    679 non-null object
Upload (Mbit/s)      673 non-null float64
Datetime             673 non-null object
Date                 673 non-null object
dtypes: float64(1), object(4)
memory usage: 26.6+ KB

In [18]:
df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())

In [19]:
df_compact.head()

,Ping (ms),Download (Mbit/s),Upload (Mbit/s),Datetime,Date
0,26.992,91.80,14.31,2016-11-24 13:36:25,2016-11-24
1,24.532,88.19,14.12,2016-11-24 13:36:55,2016-11-24
2,20.225,59.86,14.11,2016-11-24 13:37:25,2016-11-24
3,19.332,91.81,14.22,2016-11-24 13:37:57,2016-11-24
4,22.494,92.05,14.08,2016-11-24 13:38:27,2016-11-24

In [20]:
df_compact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 5 columns):
Ping (ms)            679 non-null object
Download (Mbit/s)    679 non-null object
Upload (Mbit/s)      673 non-null float64
Datetime             673 non-null object
Date                 673 non-null object
dtypes: float64(1), object(4)
memory usage: 26.6+ KB

In [21]:
pd.to_datetime(df_compact['Datetime'][0]).time()

datetime.time(13, 36, 25)

In [22]:
df_compact['Time'] = pd.to_datetime(df_compact['Datetime']).dt.time

In [23]:
temp = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str))

In [24]:
df_compact['Time'] = temp.dt.time

In [25]:
type(df_compact['Date'][0])

datetime.date

In [26]:
df_compact.head()

,Ping (ms),Download (Mbit/s),Upload (Mbit/s),Datetime,Date,Time
0,26.992,91.80,14.31,2016-11-24 13:36:25,2016-11-24,13:36:25
1,24.532,88.19,14.12,2016-11-24 13:36:55,2016-11-24,13:36:55
2,20.225,59.86,14.11,2016-11-24 13:37:25,2016-11-24,13:37:25
3,19.332,91.81,14.22,2016-11-24 13:37:57,2016-11-24,13:37:57
4,22.494,92.05,14.08,2016-11-24 13:38:27,2016-11-24,13:38:27

In [27]:
df_compact.drop('Datetime', axis=1, inplace=True)

In [28]:
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0    26.992             91.80            14.31  2016-11-24  13:36:25
1    24.532             88.19            14.12  2016-11-24  13:36:55
2    20.225             59.86            14.11  2016-11-24  13:37:25
3    19.332             91.81            14.22  2016-11-24  13:37:57
4    22.494             92.05            14.08  2016-11-24  13:38:27

In [29]:
type(df_compact['Date'][0])

datetime.date

In [30]:
type(df_compact['Time'][0])

datetime.time

In [31]:
df_compact.to_csv('data/OUT_rpi_data_compact')

## Visualization


#### Clean and Analyze Data


**Čiščenje podatkov**

In [88]:
df_compact = pd.read_csv('data/DATA_rpi_data_compact.csv')

In [89]:
df_compact.head()

,Unnamed: 0,Ping (ms),Download (Mbit/s),Upload (Mbit/s),Date,Time
0,0,26.992,91.80,14.31,2016-11-24,13:36:25
1,1,24.532,88.19,14.12,2016-11-24,13:36:55
2,2,20.225,59.86,14.11,2016-11-24,13:37:25
3,3,19.332,91.81,14.22,2016-11-24,13:37:57
4,4,22.494,92.05,14.08,2016-11-24,13:38:27

In [90]:
df_compact.drop('Unnamed: 0', axis=1, inplace=True)

In [91]:
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0    26.992             91.80            14.31  2016-11-24  13:36:25
1    24.532             88.19            14.12  2016-11-24  13:36:55
2    20.225             59.86            14.11  2016-11-24  13:37:25
3    19.332             91.81            14.22  2016-11-24  13:37:57
4    22.494             92.05            14.08  2016-11-24  13:38:27

In [92]:
NaNs_in_df = df_compact.isnull()

In [93]:
NaNs_in_df.head()

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)   Date   Time
0      False              False            False  False  False
1      False              False            False  False  False
2      False              False            False  False  False
3      False              False            False  False  False
4      False              False            False  False  False

In [38]:
#print(f'The DataFrame contains : {NaNs_total} NaNs, equal to {NaNs_pct}% of the measurements')

In [94]:
NaNs_in_df.sum().sum()

23

In [95]:
df_compact.isnull().sum().sum()

23

In [96]:
NaNs_total = df_compact.isnull().sum().sum()

In [97]:
NaNs_pct = np.round(NaNs_total / float(len(df_compact.columns) * len(df_compact)) * 100, decimals=4)

In [98]:
print(f'The DataFrame contains : {NaNs_total} NaNs, equal to {NaNs_pct}% of the measurements')

The DataFrame contains : 23 NaNs, equal to 0.6765% of the measurements

In [99]:
df_compact.shape

(680, 5)

In [100]:
df_compact_clean = df_compact.dropna()

In [101]:
df_compact_clean.shape

(673, 5)

**Change values format.**

In [102]:
df_compact_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 673 entries, 0 to 679
Data columns (total 5 columns):
Ping (ms)            673 non-null object
Download (Mbit/s)    673 non-null object
Upload (Mbit/s)      673 non-null float64
Date                 673 non-null object
Time                 673 non-null object
dtypes: float64(1), object(4)
memory usage: 31.5+ KB

In [103]:
df_compact_clean.reset_index(inplace=True, drop=True)

In [104]:
df_compact_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 5 columns):
Ping (ms)            673 non-null object
Download (Mbit/s)    673 non-null object
Upload (Mbit/s)      673 non-null float64
Date                 673 non-null object
Time                 673 non-null object
dtypes: float64(1), object(4)
memory usage: 26.4+ KB

In [105]:
df_compact_clean.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0    26.992             91.80            14.31  2016-11-24  13:36:25
1    24.532             88.19            14.12  2016-11-24  13:36:55
2    20.225             59.86            14.11  2016-11-24  13:37:25
3    19.332             91.81            14.22  2016-11-24  13:37:57
4    22.494             92.05            14.08  2016-11-24  13:38:27

In [106]:
df_compact_clean.dtypes

Ping (ms)             object
Download (Mbit/s)     object
Upload (Mbit/s)      float64
Date                  object
Time                  object
dtype: object

In [133]:
#pretvorimo podatke v ustrezne tipe
df_compact_clean.loc[:,'Ping (ms)'] = pd.to_numeric(df_compact_clean.loc[:,'Ping (ms)'])
df_compact_clean.loc[:,'Download (Mbit/s)'] = pd.to_numeric(df_compact_clean.loc[:,'Download (Mbit/s)'])
df_compact_clean.loc[:,'Date'] = pd.to_datetime(df_compact_clean.loc[:,'Date'])
df_compact_clean.loc[:,'Time'] = pd.to_datetime(df_compact_clean.loc[:,'Time'])

In [108]:
df_compact_clean.dtypes

Ping (ms)                   float64
Download (Mbit/s)           float64
Upload (Mbit/s)             float64
Date                 datetime64[ns]
Time                 datetime64[ns]
dtype: object

In [109]:
df_compact_clean.head()

,Ping (ms),Download (Mbit/s),Upload (Mbit/s),Date,Time
0,26.992,91.80,14.31,2016-11-24,2019-06-26 13:36:25
1,24.532,88.19,14.12,2016-11-24,2019-06-26 13:36:55
2,20.225,59.86,14.11,2016-11-24,2019-06-26 13:37:25
3,19.332,91.81,14.22,2016-11-24,2019-06-26 13:37:57
4,22.494,92.05,14.08,2016-11-24,2019-06-26 13:38:27

In [135]:
reidexed_columns = ['Date', 'Time', 'Ping (ms)','Download (Mbit/s)','Upload (Mbit/s)']

In [136]:
df_compact_clean = df_compact_clean.reindex(columns=reidexed_columns)

In [137]:
df_compact_clean.head()

,Date,Time,Ping (ms),Download (Mbit/s),Upload (Mbit/s)
0,2016-11-24,2019-06-26 13:36:25,NaN,NaN,NaN
1,2016-11-24,2019-06-26 13:36:55,NaN,NaN,NaN
2,2016-11-24,2019-06-26 13:37:25,NaN,NaN,NaN
3,2016-11-24,2019-06-26 13:37:57,NaN,NaN,NaN
4,2016-11-24,2019-06-26 13:38:27,NaN,NaN,NaN

In [116]:
df_clean = df_compact_clean.copy()

## Basic statistics


**Calculate mean and standard deviation using Pandas.**

In [117]:
means = df_clean.mean()

In [118]:
means

Ping (ms)           NaN
Download (Mbit/s)   NaN
Upload (Mbit/s)     NaN
dtype: float64

In [138]:
stands = df_clean.std()

In [139]:
stands

Ping (ms)           NaN
Download (Mbit/s)   NaN
Upload (Mbit/s)     NaN
dtype: float64

In [140]:
means['Ping (ms)']

nan

In [141]:
print(f"Average ping time: {means['Ping (ms)']} ± {stands['Ping (ms)']} ms")
#print(f'Average download speed: {stats_download[0]} ± {stats_download[1]} Mbit/s')
#print(f'Average upload speed: {stats_upload[0]} ± {stats_upload[1]} Mbit/s')

Average ping time: nan ± nan ms

**Izračun minimalnih in maksimalnih vrednosti**

In [142]:
mins = df_clean.min()

In [143]:
mins

Date                2016-11-24 00:00:00
Time                2019-06-26 13:36:25
Ping (ms)                           NaT
Download (Mbit/s)                   NaT
Upload (Mbit/s)                     NaT
dtype: datetime64[ns]

In [144]:
maxs = df_clean.max()

In [145]:
maxs

Date                2016-11-24 00:00:00
Time                2019-06-26 19:18:16
Ping (ms)                           NaT
Download (Mbit/s)                   NaT
Upload (Mbit/s)                     NaT
dtype: datetime64[ns]

In [147]:
#print(f'Min ping time: {mima_ping[0]} ms. Max ping time: {mima_ping[1]} ms')
#print(f'Min download speed: {mima_download[0]} Mbit/s. Max download speed: {mima_download[1]} Mbit/s')
#print(f'Min upload speed: {mima_upload[0]} Mbit/s. Max upload speed: {mima_upload[1]} Mbit/s')

NameError: name 'mima_ping' is not defined

In [148]:
df_clean.describe()

       Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)
count        0.0                0.0              0.0
mean         NaN                NaN              NaN
std          NaN                NaN              NaN
min          NaN                NaN              NaN
25%          NaN                NaN              NaN
50%          NaN                NaN              NaN
75%          NaN                NaN              NaN
max          NaN                NaN              NaN

**Uporaba idxmin, idxmax and iloc**

In [149]:
argmax_ping = df_clean['Ping (ms)'].idxmax()

In [150]:
argmax_ping

nan

In [151]:
argmin_ping = df_clean['Ping (ms)'].idxmin()

In [152]:
argmin_ping

nan

In [154]:
df_clean.iloc[argmax_ping]['Time'].time()

TypeError: Cannot index by location index with a non-integer key

In [158]:
#print(f'Ping measure reached minimum on {idxmin} at {}')

#print(f'Ping measure reached maximum on {} at {}')

In [155]:
df_corr = df_clean.corr()

In [156]:
df_corr

                   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)
Ping (ms)                NaN                NaN              NaN
Download (Mbit/s)        NaN                NaN              NaN
Upload (Mbit/s)          NaN                NaN              NaN

In [ ]:
print(f'Correlation coefficient between ping and download: {df_corr.iloc[0,1]}')
#print(f'Correlation coefficient between ping and upload: {}')
#print(f'Correlation coefficient between upload and download: {}')

## Visualize Data

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

**Plot Internet speed stats.**

In [ ]:
plt.figure(figsize=(10,5), dpi=80)

t = pd.to_datetime(df_clean['Date'] + ' ' + df_clean['Time'])

plt.plot(t, df_clean['Ping (ms)'], lable='Ping (ms)')

## Internet Meter Anomaly Detection

**Create a Dataframe and modify the quantities**

In [ ]:
lookup = {'Download (Mbit/s)': 'download_rate', 
          'Upload (Mbit/s)': 'upload_rate'}

**Vizualizacija podatkov**

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from ipywidgets import interact

In [ ]:
def f(x):
    return x**2

In [ ]:
interact(f, x=(0,100))

**Euclidean Anomaly Detection**