# Praktični izpit tečaja Analitika podatkov v Python-u

Čas reševanja: `120 min`

Skupno število točk: `70 pts`

Odgovore na vprašanja vnesite v celice z komentarjem `# Odgovor`

Za vsa vprašanja smo na voljo.

Lahko si pomagate z uporabo gradiv in internetom. Ne pozabite na uradno dokumentacijo.

Srečno!!

**Pred začetkom izpita zaženite spodnjo celico:**

In [126]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

## DEL 1 - Priprava (30 pts)

### 1.1) Uvoz podatkov 

`2 pts`

Pridobili smo podatke registracije avtomobilov v Sloveniji za marec 2019. Datoteka se imenuje `DATA_vozila_marec_clean1.csv`. 

V spodnji spremenljivki je shranjena pot do datoteke. Naložite podatke v pandas dataframe, da jih lako uporabimo za nadaljno obdelavo.

In [127]:
path = 'data/DATA_vozila_RAW.csv'
!head -n 3 data/DATA_vozila_RAW.csv

In [128]:
# Odgovor
df = pd.read_csv(path, sep=';')

In [76]:
df.head(3)

,Unnamed: 0,Unnamed: 0.1,Datum prve registracije vozila,Registrsko obmocje tablice prve registracije,Starost uporabnika vozila,Spol uporabnika,Upravna enota uporabnika vozila,Znamka,Drzava (koda),Masa vozila,Kategorija in vrsta vozila (opis),Nazivna moc,Vrsta goriva (opis),P.1.5-Oznaka motorja,S.1-Stevilo sedezev (vkljucno z vozniskim),T-Najvisja hitrost,V.8-Kombinirana poraba goriva,Homologacijska,Dvtredu,Leto izdelave
0,0,0,24.10.2007,KR?KO,61.0,M,2,BMW,DEU,223,motorno kolo,80,Bencin,122EF,2.0,215.0,NaN,NaN,NaN,2007
1,1,1,25.03.2019,MURSKA SOBOTA,58.0,Z,36,FIAT,ITA,1270,osebni avtomobil,70,Bencin,843A1000,5.0,185.0,"7,7",NaN,NaN,2019
2,2,2,01.08.2008,CELJE,71.0,M,59,HONDA,JPN,242,motorno kolo,37,Bencin,PF01E,2.0,160.0,NaN,NaN,NaN,2008

### 1.2) Prikaz osnovnih lastnosti podatkov

#### 1.2.1) Prikažite obliko uvoženega dataframe-a

`1 pts`

In [79]:
# Odgovor
df.shape

(14649, 20)

In [81]:
df.ndim

2

#### 1.2.2) Prikažite tipe spremenljivk za vsak stolpec uvoženega dataframe-a

`1 pts`

In [84]:
# Odgovor
df.dtypes

Unnamed: 0                                        int64
Unnamed: 0.1                                      int64
Datum prve registracije vozila                   object
Registrsko obmocje tablice prve registracije     object
Starost uporabnika vozila                       float64
Spol uporabnika                                  object
Upravna enota uporabnika vozila                   int64
Znamka                                           object
Drzava (koda)                                    object
Masa vozila                                      object
Kategorija in vrsta vozila (opis)                object
Nazivna moc                                      object
Vrsta goriva (opis)                              object
P.1.5-Oznaka motorja                             object
S.1-Stevilo sedezev (vkljucno z vozniskim)      float64
T-Najvisja hitrost                              float64
V.8-Kombinirana poraba goriva                    object
Homologacijska                                   object
Dvtredu                                          object
Leto izdelave                                     int64
dtype: object

#### 1.2.3) Prikažite prvih 7 vrstic uvoženega dataframe-a

`1 pts`

In [83]:
# Odgovor

df.head(7)

,Unnamed: 0,Unnamed: 0.1,Datum prve registracije vozila,Registrsko obmocje tablice prve registracije,Starost uporabnika vozila,Spol uporabnika,Upravna enota uporabnika vozila,Znamka,Drzava (koda),Masa vozila,Kategorija in vrsta vozila (opis),Nazivna moc,Vrsta goriva (opis),P.1.5-Oznaka motorja,S.1-Stevilo sedezev (vkljucno z vozniskim),T-Najvisja hitrost,V.8-Kombinirana poraba goriva,Homologacijska,Dvtredu,Leto izdelave
0,0,0,24.10.2007,KR?KO,61.0,M,2,BMW,DEU,223,motorno kolo,80,Bencin,122EF,2.0,215.0,NaN,NaN,NaN,2007
1,1,1,25.03.2019,MURSKA SOBOTA,58.0,Z,36,FIAT,ITA,1270,osebni avtomobil,70,Bencin,843A1000,5.0,185.0,"7,7",NaN,NaN,2019
2,2,2,01.08.2008,CELJE,71.0,M,59,HONDA,JPN,242,motorno kolo,37,Bencin,PF01E,2.0,160.0,NaN,NaN,NaN,2008
3,3,3,08.03.2019,KRANJ,64.0,M,58,DEUTZ-FAHR,ITA,5200,traktor,53,Dizel,1000.3WTI3E3,1.0,40.0,NaN,NaN,"40,8-92",2019
4,4,4,26.04.2011,NOVA GORICA,63.0,Z,37,MERCEDES BENZ,DEU,1435,osebni avtomobil,103,Dizel,640.941,5.0,200.0,"5,3",NaN,NaN,2011
5,5,5,16.10.2015,MURSKA SOBOTA,56.0,M,36,AUDI,DEU,1615,osebni avtomobil,100,Dizel,CSU,5.0,215.0,4,NaN,NaN,2015
6,6,6,17.04.2015,MARIBOR,47.0,M,42,AUDI,DEU,1910,osebni avtomobil,200,Dizel,CRT,5.0,250.0,"5,3",NaN,NaN,2015

#### 1.2.4) Prikažite zadnjih 6 vrstic uvoženega dataframe-a

`1 pts`

In [85]:
# Odgovor

df.tail(6)

,Unnamed: 0,Unnamed: 0.1,Datum prve registracije vozila,Registrsko obmocje tablice prve registracije,Starost uporabnika vozila,Spol uporabnika,Upravna enota uporabnika vozila,Znamka,Drzava (koda),Masa vozila,Kategorija in vrsta vozila (opis),Nazivna moc,Vrsta goriva (opis),P.1.5-Oznaka motorja,S.1-Stevilo sedezev (vkljucno z vozniskim),T-Najvisja hitrost,V.8-Kombinirana poraba goriva,Homologacijska,Dvtredu,Leto izdelave
14643,14643,14643,29.03.2019,KRANJ,22.0,Z,24,VOLKSWAGEN,DEU,1125,osebni avtomobil,59,Bencin,DFN,5.0,171.0,"5,8",NaN,-,2019
14644,14644,14644,29.03.2019,KOPER,20.0,M,48,RENAULT,FRA,1442,osebni avtomobil,85,Dizel,K9K U8,5.0,190.0,"4,6",NaN,NaN,2019
14645,14645,14645,18.06.2015,MURSKA SOBOTA,21.0,M,36,MERCEDES BENZ,DEU,1525,osebni avtomobil,130,Dizel,651.930,5.0,232.0,"4,2",NaN,NaN,2015
14646,14646,14646,29.03.2019,MARIBOR,21.0,Z,50,KIA,SVK,1260,osebni avtomobil,"73,3",Bencin,G4LC,5.0,183.0,"6,4",e4*1005/2010*1005/2010*0265*02,NaN,2019
14647,14647,14647,29.03.2019,NOVO MESTO,NaN,NaN,38,FORD,DEU,2316,tovorno vozilo,147,Dizel,SA2W,5.0,175.0,"8,7","E11 55R-018151, 018152, E11 55R-0110910,","16,4",2019
14648,14648,14648,29.03.2019,MARIBOR,73.0,Z,64,DACIA,ROM,1084,osebni avtomobil,54,Bencin,B4D E4,5.0,158.0,"6,3",NaN,NaN,2019

#### 1.2.5) Prikažite informacije (velikost df, podatkovni tipi, pomnilnik...) uvoženega dataframe-a z uporabo ene metode

`1 pts`

In [93]:
# Odgovor
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14649 entries, 0 to 14648
Data columns (total 20 columns):
Unnamed: 0                                      14649 non-null int64
Unnamed: 0.1                                    14649 non-null int64
Datum prve registracije vozila                  14649 non-null object
Registrsko obmocje tablice prve registracije    14649 non-null object
Starost uporabnika vozila                       8300 non-null float64
Spol uporabnika                                 8300 non-null object
Upravna enota uporabnika vozila                 14649 non-null int64
Znamka                                          14649 non-null object
Drzava (koda)                                   14649 non-null object
Masa vozila                                     14649 non-null object
Kategorija in vrsta vozila (opis)               14649 non-null object
Nazivna moc                                     14649 non-null object
Vrsta goriva (opis)                             14649 non-null object
P.1.5-Oznaka motorja                            13912 non-null object
S.1-Stevilo sedezev (vkljucno z vozniskim)      14229 non-null float64
T-Najvisja hitrost                              14344 non-null float64
V.8-Kombinirana poraba goriva                   12028 non-null object
Homologacijska                                  3140 non-null object
Dvtredu                                         4690 non-null object
Leto izdelave                                   14649 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 2.2+ MB

### 1.3) Priprava podatkov za obdelavo

Pred analizo podatkov moramo naše podatke urediti in pripraviti.

#### 1.3.1) Odstrnjevanje nepotrebnih stolpcev

Odstranite nepotrebne stolpce iz naših podatkov. Imena nepotrebnih stolpcev so shanjena v spodnji spremenljivki `to_drop`.

Operacijo opravite na mestu (inplace).

`2 pts`

In [124]:
to_drop = ['Unnamed: 0', 'Unnamed: 0.1', 'P.1.5-Oznaka motorja', 'Homologacijska', 'Dvtredu']

In [129]:
# Odgovor
df.drop(to_drop, axis=1, inplace=True)

In [130]:
df.head(3)

,Datum prve registracije vozila,Registrsko obmocje tablice prve registracije,Starost uporabnika vozila,Spol uporabnika,Upravna enota uporabnika vozila,Znamka,Drzava (koda),Masa vozila,Kategorija in vrsta vozila (opis),Nazivna moc,Vrsta goriva (opis),S.1-Stevilo sedezev (vkljucno z vozniskim),T-Najvisja hitrost,V.8-Kombinirana poraba goriva,Leto izdelave
0,24.10.2007,KR?KO,61.0,M,2,BMW,DEU,223,motorno kolo,80,Bencin,2.0,215.0,NaN,2007
1,25.03.2019,MURSKA SOBOTA,58.0,Z,36,FIAT,ITA,1270,osebni avtomobil,70,Bencin,5.0,185.0,"7,7",2019
2,01.08.2008,CELJE,71.0,M,59,HONDA,JPN,242,motorno kolo,37,Bencin,2.0,160.0,NaN,2008

#### 1.3.2) Preimenovanje imen stolpcev

Preimenujte stolpce, da bo delo s podatki lažje. Preslikave imen stolpcev najdete v spodnji spremenljivki `new_names`.

Operacijo opravite na mestu (inplace).

`2 pts`

In [131]:
new_names = {'Datum prve registracije vozila': 'Prva_registracija',
             'Registrsko obmocje tablice prve registracije': 'Tablica_kraj',
             'Starost uporabnika vozila': 'Starost_vozinka',
             'Spol uporabnika': 'Spol_voznika',
             'Upravna enota uporabnika vozila': 'Upravna_enota_sifra',
             'Drzava (koda)': 'Država_proizvodnje',
             'Masa vozila': 'Masa_vozila',
             'Kategorija in vrsta vozila (opis)': 'Kategorija_vozila',
             'Nazivna moc': 'Moc',
             'Vrsta goriva (opis)': 'Gorivo',
             'S.1-Stevilo sedezev (vkljucno z vozniskim)': 'Stevilo_sedezev',
             'T-Najvisja hitrost': 'Hitrost_max',
             'V.8-Kombinirana poraba goriva': 'Poraba_goriva',
             'Leto izdelave': 'Leto_izdelave'
}

In [137]:
# Odgovor
df.rename(columns=new_names, inplace=True)

In [138]:
df.head(3)

,Prva_registracija,Tablica_kraj,Starost_vozinka,Spol_voznika,Upravna_enota_sifra,Znamka,Država_proizvodnje,Masa_vozila,Kategorija_vozila,Moc,Gorivo,Stevilo_sedezev,Hitrost_max,Poraba_goriva,Leto_izdelave
0,24.10.2007,KR?KO,61.0,M,2,BMW,DEU,223,motorno kolo,80,Bencin,2.0,215.0,NaN,2007
1,25.03.2019,MURSKA SOBOTA,58.0,Z,36,FIAT,ITA,1270,osebni avtomobil,70,Bencin,5.0,185.0,"7,7",2019
2,01.08.2008,CELJE,71.0,M,59,HONDA,JPN,242,motorno kolo,37,Bencin,2.0,160.0,NaN,2008

#### 1.3.3) Odstranjevenje mankajočih vrednosti

Izpiši število mankajočih vrednosti za vsak stolpec v pandas Series obliki.

Pričakovan odgovor:
```
Prva_registracija         0
Tablica_kraj              0
Starost_vozinka        6349
Spol_voznika           6349
Upravna_enota_sifra       0
Znamka                    0
Država_proizvodnje        0
Masa_vozila               0
...
```

`2 pts`

In [145]:
# Odgovor
count_nan = len(df) - df.count()
count_nan

Prva_registracija         0
Tablica_kraj              0
Starost_vozinka        6349
Spol_voznika           6349
Upravna_enota_sifra       0
Znamka                    0
Država_proizvodnje        0
Masa_vozila               0
Kategorija_vozila         0
Moc                       0
Gorivo                    0
Stevilo_sedezev         420
Hitrost_max             305
Poraba_goriva          2621
Leto_izdelave             0
dtype: int64

---

`2 pts`

Odstrani vse vrstice v naših podatkih za katere ima stolpec `Starost_vozinka` manjkajoče vrednosti.

Delo nadaljuj z novimi podatki.

In [61]:
# Odgovor

---

`2 pts`

Vse manjkajoče vrednosti v stolpcu `Stevilo_sedezev` nadomesti z številom `0`.

Delo nadaljuj z novimi podatki.

In [86]:
# Odgovor

#### 1.3.4) Iskanje podvojenih vrstic v podatkih

Poišči število podvojenih vrstic v naših podatkih.

`1 pts`

In [91]:
# Odgovor

---

`1 pts`

Odstrani vse podvojene vrstice iz naših podatkov.

In [115]:
# Odgovor

#### 1.3.5) Transformiranje podatkov

Stolpec `Upravna_enota_sifra` vsebuje šifre upravnih enot. Spodaj je podan slovar, ki preslika šifro upravne enote v njeno ime. Dodajte stolpec `Upravna_enota` v katerem so preslikana imena upravnih enot.

Nadaljujte delo z novimi podatki.

Namig: Uporabite pandas metodo .map()

`2 pts`

In [13]:
sifra_to_ime = {0: "Neznana",
              1: "AJDOVŠČINA",
              2: "BREŽICE",
              3: "CELJE",
              4: "CERKNICA",
              5: "ČRNOMELJ",
              6: "DOMŽALE",
              7: "DRAVOGRAD",
              8: "GORNJA RADGONA",
              9: "GROSUPLJE",
              10: "HRASTNIK",
              11: "IDRIJA",
              12: "ILIRSKA BISTRICA",
              13: "IZOLA",
              14: "JESENICE",
              15: "KAMNIK",
              16: "KOČEVJE",
              17: "KOPER",
              18: "KRANJ",
              19: "KRŠKO",
              20: "LAŠKO",
              21: "LENART",
              22: "LENDAVA",
              23: "LITIJA",
              24: "LJUBLJANA",
              29: "LJUTOMER",
              30: "LOGATEC",
              34: "METLIKA",
              35: "MOZIRJE",
              36: "MURSKA SOBOTA",
              37: "NOVA GORICA",
              38: "NOVO MESTO",
              39: "ORMOŽ",
              40: "PIRAN",
              41: "POSTOJNA",
              42: "PTUJ",
              43: "RADLJE OB DRAVI",
              44: "RADOVLJICA",
              45: "RAVNE NA KOROŠKEM",
              46: "RIBNICA",
              47: "SEVNICA",
              48: "SEŽANA",
              49: "SLOVENJ GRADEC",
              50: "SLOVENSKA BISTRICA",
              51: "SLOVENSKE KONJICE",
              52: "ŠENTJUR PRI CELJU",
              53: "ŠKOFJA LOKA",
              54: "ŠMARJE PRI JELŠAH",
              55: "TOLMIN",
              56: "TRBOVLJE",
              57: "TREBNJE",
              58: "TRŽIČ",
              59: "VELENJE",
              60: "VRHNIKA",
              61: "ZAGORJE OB SAVI",
              62: "ŽALEC",
              64: "MARIBOR",
              65: "PESNICA",
              68: "RUŠE"}

In [14]:
# Odgovor

#### 1.3.6) Sprememba podatkovnih tipov

Pretvori stolpec `Prva_registracija` v podatkovni tip `datetime64[ns]`.


Nadaljujte delo z novimi podatki.

`2 pts`

In [135]:
# Odgovor

---

Pretvori naslednje stolpce v naslednje podatkovne tipe:
- `Starost_vozinka` -> `int64`
- `Masa_vozila` -> `float64` (pozor na decimalno vejico namesto decimalne pike)
- `Moc` -> `float64` (pozor na decimalno vejico namesto decimalne pike)
- `Stevilo_sedezev` -> `int64`

Na koncu želimo imeti podatke takšne oblike: 
```
Prva_registracija      8298 non-null datetime64[ns]
Tablica_kraj           8298 non-null object
Starost_vozinka        8298 non-null int64
Spol_voznika           8298 non-null object
Upravna_enota_sifra    8298 non-null int64
Znamka                 8298 non-null object
Država_proizvodnje     8298 non-null object
Masa_vozila            8298 non-null float64
Kategorija_vozila      8298 non-null object
Moc                    8298 non-null float64
Gorivo                 8298 non-null object
Stevilo_sedezev        8298 non-null int64
Hitrost_max            8194 non-null float64
Poraba_goriva          6812 non-null object
Leto_izdelave          8298 non-null int64
Upravna_enota          8298 non-null object
```

`4 pts`

In [208]:
# Odgovor

In [209]:
# Odgovor

In [210]:
# Odgovor

In [211]:
# Odgovor

#### 1.3.7) Sprememba vrednsoti v določenih celicah

- V stolpcu `Tablica_kraj` imamo vrednost `KR?KO`. Kot zgleda podatek ni bil pravilno vnešen. Spremenite vse vrednosti `KR?KO` v `KRSKO`.

- V stolpcu `Znamka` imamo vrednost `?KODA`. Kot zgleda podatek ni bil pravilno vnešen. Spremenite vse vrednosti `?KODA` v `SKODA`.

`2 pts`

In [ ]:
# Odgovor

### 1.4) Izvoz urejenih podatkov

Pripravljene in urejene podatke izvozite v novo csv datoteko z imenom `DATA_vozila_CLEAN`. Za pot lahko uporabite pripravljano spremenljivko `path`. Za separator uporabite `,`. Indexa **ne** izvozite s podatki.

`1 pts`

In [54]:
path = 'data/DATA_vozila_CLEAN.csv'

In [55]:
# Odgovor

## DEL 2 - Analiza (40 pts)

V tem delu sledi analiza urejenih podatkov.

V primeru, da vam ni uspelo urediti podatkov v prejšnjem delu, si jih lahko naložite v pomočjo spodnje celice.

In [4]:
# Naložimo urejene podatke
df = pd.read_csv('data/DATA_vozila_CLEAN.csv')

In [5]:
df.head()

,Prva_registracija,Tablica_kraj,Starost_vozinka,Spol_voznika,Upravna_enota_sifra,Znamka,Država_proizvodnje,Masa_vozila,Kategorija_vozila,Moc,Gorivo,Stevilo_sedezev,Hitrost_max,Poraba_goriva,Leto_izdelave,Upravna_enota
0,2007-10-24,KRSKO,61,M,2,BMW,DEU,223.0,motorno kolo,80.0,Bencin,2,215.0,NaN,2007,BREŽICE
1,2019-03-25,MURSKA SOBOTA,58,Z,36,FIAT,ITA,1270.0,osebni avtomobil,70.0,Bencin,5,185.0,"7,7",2019,MURSKA SOBOTA
2,2008-01-08,CELJE,71,M,59,HONDA,JPN,242.0,motorno kolo,37.0,Bencin,2,160.0,NaN,2008,VELENJE
3,2019-08-03,KRANJ,64,M,58,DEUTZ-FAHR,ITA,5200.0,traktor,53.0,Dizel,1,40.0,NaN,2019,TRŽIČ
4,2011-04-26,NOVA GORICA,63,Z,37,MERCEDES BENZ,DEU,1435.0,osebni avtomobil,103.0,Dizel,5,200.0,"5,3",2011,NOVA GORICA

Prikažite glavne statistične lastnosti za numerične stolpce z uporabo ene metode.

`1 pts`

In [139]:
# Odgovor

### 2.1) Analiza - Znamke vozil `6 pts`

Analizirajte stolpec `Znamka`.

Izpišite število registriranih števil po znamkah.

`1 pts`

In [9]:
# Odgovor

Prvih 10 vrednosti (10 najbolj pogostih znamk in število registaciiji) zgornjega izračuna shranite v spremenljivko `znamke_top_10`.

`2 pts`

In [11]:
# Odgovor

Izrišite graf števil registraciji v odvisnosti od znamk (za `znamke_top_10` Series). 

Uporabite funkcijo plot v knjižnjici pandas. Graf naj bo tipa `bar` z naslovom `Pogostost znamk vozil`

`3 pts`

In [ ]:
# Odgovor

### 2.2) Analiza - Maksimalna hitrost vozila v primerjavi s spoloma `4 pts`

Izdelejte nov dataframe z imenom `df_osebna_spol`, v katerem shranite samo vrstice, ki predstavljajo osebna vozila (stolpec `Kategorija_vozila` -> vrednost `osebni avtomobil`).

`1 pts`

In [132]:
# Odgovor

V `df_osebna_spol` shranite samo stolpca `Spol_voznika` in `Hitrost_max`. z uporabo `loc metode`.

`1 pts`

In [133]:
# Odgovor

Izračunajte povprečno maksimalno hitrost (stolpec `Hitrost_max`) za vsakega izmed spolov.

`2 pts`

In [135]:
# Odgovor

### 2.3) Analiza - Primerjava moči vozil po regijah `6 pts`

Izdelejte nov dataframe z imenom `df_osebna_2000_naprej`, v katerem shranite samo vrstice, ki predstavljajo osebna vozila (stolpec `Kategorija_vozila` -> vrednost `osebni avtomobil`), ki so bila izdelana po letu 2000 (vključno z letom 2000, stolpec `Leto_izdelave` >= 2000).

`2 pts`

In [114]:
# Odgovor

Dobljen dataframe grupirajte po stolpcu `Tablica_kraj` in izračunjte povprečno vrednost za stolpec `Moc`. Dobljen Series poimenujte `moc_povprecna`.

`2 pts`

In [120]:
# Odgovor

V grafu prikažite `moc_povprecna` za vsako regijo. Uporabite graf tipa `bar`.

`2 pts`

In [123]:
# Odgovor

### 2.4) Analiza - Primerjava dizel/bencin za osebna vozila po letu izdelave `17 pts`

Izdelejte nov dataframe z imenom `df_osebna_2009_naprej`, v katerem shranite samo vrstice, ki predstavljajo osebna vozila (stolpec `Kategorija_vozila` -> vrednost `osebni avtomobil`), ki so bila izdelana po letu 2009 (vključno z letom 2009, stolpec `Leto_izdelave` >= 2009).

`2 pts`

In [15]:
# Odgovor

Iz stolpca `Gorivo` izberite samo vnose, ki imajo vrednost `Bencin` ali `Dizel` in jih shranite v `df_osebna_2009_naprej`.

Namig: metoda `pandas.DataFrame.isin`

`2 pts`

In [52]:
# Odgovor

Podatke grupirajte glede na `Leto_izdelave` in `Gorivo`.  Pridobite število vrednosti za posamezno kategorijo in podatke preoblikujte nazaj v tabelo (npr. s pomočjo metode `unstack()`).

Dobljen dataframe shranite v spremenljivko `count_gorivo`.

Želen rezultat:

<img width=200 src="./data/table_1.PNG">

`3 pts`

In [ ]:
# Odgovor

Preoblikujte dobljene podatke (`count_gorivo`) v obliko primerno za izrisovanje grafa tipa bar.

Prvi korak: Preoblikujte podatke s pomočjo stack metode.

`1 pts`

In [86]:
# Odgovor

Drugi korak: Dobljenemu Series objektu dodelite ime `total` s pomočjo name metode.

`1 pts`

In [88]:
# Odgovor

Tretji korak: Restirajte indexe dobljenemu objektu.
    
`1 pts`

In [90]:
# Odgovor

Pred izrisom podatkov, moramo podatke normalizirati. Možen postopek:
- napišete lastno funkcijo, ki normalizira posamezno skupino podatkov
- `count_gorivo` razvrstite glede na leto izdelave in nad vsako vrstico zaženete normalizacijsko funkcijo

`4 pts`

In [111]:
# Odgovor

Namig (možne so tudi druge rešitve):

> S pomočjo funkcije `sns.barplot` izrišite graf za urejene podatke.
- na osi x prikažite `Leto_izdelave`
- na osi y prikažite `normed_total`
- `hue` vrednost naj predstavlja `Gorivo`

Želen graf:

<img width=300 src="./data/slika6.PNG">

`3 pts`

In [ ]:
# Odgovor

### 2.5) Analiza - Korelacija moč/maksimalna hitrost `6 pts`

Izračunajte koorelacijsko matriko za numerične vrednsoti v naših podatkih.

`1 pts`

In [142]:
# Odgovor

Katere dve spremenljivki sta najbolj povezani?

`1 pts`

In [ ]:
# Odgovor - ni potreben izračun

S pomočjo `sns.lmplot` funkcije izrišite graf, ki prikazuje linearno regresijo med `Hitrost_max` in `Moc`.

`2 pts`

In [ ]:
# Odgovor

Izpišite vrstico, kjer je vrednost `Moc` maksimalna.

`2 pts`

In [153]:
# Odgovor

## Oddaja

Rešeni notebook pošljite na naslednja e-mail naslova:
- leon.stefanic@ltfe.org 
- gregor.balkovec@ltfe.org

**POMEMBNO!** Pred pošiljanjem notebook preimenujte na naslednji način:

`IZPIT_PRAKSA_IME_PRIMEK`