# 3) US Baby Names 1880â€“2017

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import json

from collections import defaultdict
from collections import Counter

Podatki: http://www.ssa.gov/oact/babynames/limits.html.

In [1]:
!head -n 10 data/DATA_03_names/yob1880.txt

In [6]:
names1880 = pd.read_csv('data/DATA_03_names/yob1880.txt',
                       names=['name', 'spol', 'stevilo'])

In [7]:
names1880.head()

        name spol  stevilo
0       Mary    F     7065
1       Anna    F     2604
2       Emma    F     2003
3  Elizabeth    F     1939
4     Minnie    F     1746