# Uvod v Pandas

## O Pandas-u

**Dimension & Description**



<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;">Data Structure</th>
<th style="text-align:center;">Dimensions</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td style="text-align:center;">Series</td>
<td style="text-align:center;">1</td>
<td style="text-align:center;">1D labeled homogeneous array, sizeimmutable.</td>
</tr>
<tr>
<td style="text-align:center;">Data Frames</td>
<td style="text-align:center;">2</td>
<td style="text-align:center;">General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed
columns.</td>
</tr>
<tr>
<td style="text-align:center;">Panel</td>
<td style="text-align:center;">3</td>
<td style="text-align:center;">General 3D labeled, size-mutable array.</td>
</tr>
</tbody></table>

## Importing pandas

In [3]:
import pandas as pd
import numpy as np

Check the version:

In [2]:
pd.__version__

'0.24.2'

## Reminder about Built-In Documentation

For example, to display all the contents of the pandas namespace, you can type

In [ ]:
pd.<TAB>

And to display Pandas's built-in documentation, you can use this:

In [3]:
pd?

More detailed documentation, along with tutorials and other resources, can be found at http://pandas.pydata.org/.

## Introducing Pandas Objects

In [4]:
import numpy as np
import pandas as pd

### The Pandas Series Object

In [6]:
data = pd.Series([0.25,0.5,0.75,1.0])

In [7]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [8]:
data[1]

0.5

#### Series as generalized NumPy array

#### Series as specialized dictionary

In [55]:
population_dict = {'California' : 383352256,
            'Texas' : 245578987,
            'New York' : 789635412,
            'Florida' : 123365478,
            'Illonois' : 658896234}
population = pd.Series(population_dict)
#print(population)
#print()
area_dict = {'California' : 123456789,
            'Texas' : 321654987,
            'New York' : 564897231,
            'Florida' : 456789123,
            'Illonois' : 963852741}
area = pd.Series(area_dict)
#print(area)
#print()

states = pd.DataFrame({'population' : population,'area' : area})
#states
#type(states)
#states.index
#states.values
#states.columns
pd.DataFrame(population, columns = ['columns'])
pd.DataFrame(np.random.rand(3,2),
            columns = ['foo', 'bar'],
            index = ['a','b','c'])
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [63]:
ind = pd.index=[2,3,5,7,12]
ind[1]

3

#### Constructing Series objects

`>>> pd.Series(data, index=index)`


[Dokumentacija](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

### The Pandas DataFrame Object

#### DataFrame as specialized dictionary

#### Constructing DataFrame objects

- **From a single Series object**

 - **From a dictionary of Series objects**
 - **From a two-dimensional NumPy array**

- **From a list of dicts**

[Dokumentacija](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

### The Pandas Index Object

#### Index as immutable array

## Importing Data with Pandas

In [8]:
import numpy as np
import pandas as pd

!head -n 2 data/DATA_fortune_500_2017.csv

In [9]:
f500 = pd.read_csv('data/DATA_fortune_500_2017.csv', index_col = 0)

In [10]:
type(f500)

pandas.core.frame.DataFrame

In [12]:
f500.shape

(500, 22)

##  Introducing DataFrames



<p><img alt="anatomy of a dataframe" src="https://s3.amazonaws.com/dq-content/291/df_anatomy.svg"></p>

In [14]:
f500.dtypes

Title           object
Website         object
Employees        int64
Sector          object
Industry        object
Hqlocation      object
Hqaddr          object
Hqcity          object
Hqstate         object
Hqzip            int64
Hqtel           object
Ceo             object
Ceo-title       object
Address         object
Ticker          object
Fullname        object
Revenues         int64
Revchange      float64
Profits        float64
Prftchange      object
Assets           int64
Totshequity    float64
dtype: object

In [16]:
f500.head(2)

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Rank,,,,,,,,,,,,,,,,,,,,,
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0

In [18]:
f500.tail(5)

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Rank,,,,,,,,,,,,,,,,,,,,,
496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [19]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 500
Data columns (total 22 columns):
Title          500 non-null object
Website        500 non-null object
Employees      500 non-null int64
Sector         500 non-null object
Industry       500 non-null object
Hqlocation     500 non-null object
Hqaddr         500 non-null object
Hqcity         500 non-null object
Hqstate        500 non-null object
Hqzip          500 non-null int64
Hqtel          500 non-null object
Ceo            500 non-null object
Ceo-title      500 non-null object
Address        500 non-null object
Ticker         500 non-null object
Fullname       500 non-null object
Revenues       500 non-null int64
Revchange      500 non-null float64
Profits        500 non-null float64
Prftchange     500 non-null object
Assets         500 non-null int64
Totshequity    500 non-null float64
dtypes: float64(3), int64(4), object(15)
memory usage: 89.8+ KB

## Pandas Data Selection - indexing

In [20]:
data = pd.Series(['a', 'b','c'], index = [1,3,5])

In [21]:
data

1    a
3    b
5    c
dtype: object

In [24]:
data[1:3]

3    b
5    c
dtype: object

### Selecting pandas data using “loc” (Selecting Columns From a DataFrame by Label)



<p><img alt="loc single column" src="https://s3.amazonaws.com/dq-content/291/loc_single.svg"></p>

In [25]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 500
Data columns (total 22 columns):
Title          500 non-null object
Website        500 non-null object
Employees      500 non-null int64
Sector         500 non-null object
Industry       500 non-null object
Hqlocation     500 non-null object
Hqaddr         500 non-null object
Hqcity         500 non-null object
Hqstate        500 non-null object
Hqzip          500 non-null int64
Hqtel          500 non-null object
Ceo            500 non-null object
Ceo-title      500 non-null object
Address        500 non-null object
Ticker         500 non-null object
Fullname       500 non-null object
Revenues       500 non-null int64
Revchange      500 non-null float64
Profits        500 non-null float64
Prftchange     500 non-null object
Assets         500 non-null int64
Totshequity    500 non-null float64
dtypes: float64(3), int64(4), object(15)
memory usage: 89.8+ KB

In [26]:
industries = f500.loc[:, "Industry"]

In [28]:
industries.head()

Rank
1                       General Merchandisers
2    Insurance: Property and Casualty (Stock)
3                 Computers, Office Equipment
4                          Petroleum Refining
5                    Wholesalers: Health Care
Name: Industry, dtype: object


<p><img alt="loc list of columns" src="https://s3.amazonaws.com/dq-content/291/loc_list.svg"></p>

In [30]:
more_columns = f500.loc[:, ["Employees","Revenues", "Assets"]]

In [31]:
more_columns

      Employees  Revenues   Assets
Rank
1       2300000    485873   198825
2        367700    223604   620854
3        116000    215639   321686
4         72700    205004   330314
5         68000    192487    56563
6        230000    184840   122810
7        204000    177526    94462
8        225000    166380   221690
9        268540    163786   403821
10       201000    151800   237951
11        18500    146850    33656
12       341400    135987    83402
13       295000    126661   365183
14       160900    125980   244180
15        37300    121546    34122
16       172000    118719    33163
17       300000    117351    72688
18       443000    115337    36505
19        55200    107567   260078
20         7000    107162  3287968
21       243355    105486  2490972
22        25600    100288    51745
23       406000     94595    42966
24       150540     94571    89997
25       269100     94176  1930115
26       208024     93662  2187702
27        72053     90272   167497
28       114000     85320   193694
29        53000     84863    65083
30       219000     82386  1792077
...         ...       ...      ...
471       23000      5505     9743
472         220      5488    11408
473        5930      5486     2219
474       32000      5457     6494
475        8000      5451    22615
476        4754      5449    20386
477        4050      5435    31104
478       10700      5423     9420
479       15700      5422   136453
480        1326      5414     2985
481       22600      5406     3010
482        7000      5400     6060
483        2178      5398    43831
484        7293      5389     8357
485       11870      5387    11770
486       11781      5379     4755
487        6600      5369     2164
488        3727      5354    22519
489       17000      5314     6135
490        7500      5277     2028
491        3626      5276    31377
492       19000      5259     7707
493       16400      5250     1778
494       20000      5236     2671
495       23150      5200     1608
496       31000      5197     2148
497        4200      5170     9737
498        8500      5169    48083
499        4431      5164    15167
500      110000      5145     2281

[500 rows x 3 columns]

In [33]:
financial_data = f500.loc[:, "Revenues" : "Profits"]
financial_data

      Revenues  Revchange  Profits
Rank
1       485873        0.8  13643.0
2       223604        6.1  24074.0
3       215639       -7.7  45687.0
4       205004      -16.7   7840.0
5       192487        6.2   2258.0
6       184840       17.7   7017.0
7       177526       15.8   5317.0
8       166380        9.2   9427.0
9       163786       11.6  12976.0
10      151800        1.5   4596.0
11      146850        8.0   1427.9
12      135987       27.1   2371.0
13      126661       -9.8   8831.0
14      125980       -4.3  13127.0
15      121546       18.5   1427.0
16      118719        2.2   2350.0
17      117351       13.4   4173.0
18      115337        5.0   1975.0
19      107567      -18.0   -497.0
20      107162       -2.9  12313.0
21      105486        4.4  24733.0
22      100288       -1.4   3404.4
23       94595        6.9   7957.0
24       94571       -1.6   4895.0
25       94176        4.6  21938.0
26       93662        0.7  17906.0
27       90272       20.4  19478.0
28       85320       -8.8  16798.0
29       84863        7.2   2469.8
30       82386       -6.7  14912.0
...        ...        ...      ...
471       5505        4.8    930.0
472       5488        1.9    762.0
473       5486        2.1     84.7
474       5457       -4.3    318.0
475       5451       18.1    411.0
476       5449        6.0    590.7
477       5435        3.2   1838.9
478       5423       -1.1    253.2
479       5422       19.4    791.0
480       5414       -6.0   -153.7
481       5406        2.5    294.1
482       5400        2.5      7.0
483       5398        0.8    241.2
484       5389       -5.0    900.0
485       5387       -6.6   -383.5
486       5379       -3.8    312.0
487       5369        0.1     63.9
488       5354      -19.5  -1405.0
489       5314        0.2    337.5
490       5277       -4.4    120.8
491       5276       10.0    680.0
492       5259       -0.1    728.0
493       5250        3.1    343.4
494       5236       -2.3     15.0
495       5200        0.2    152.8
496       5197        5.8    378.2
497       5170       23.9    382.1
498       5169        4.0   -214.3
499       5164        4.0   -214.3
500       5145       -2.8     57.2

[500 rows x 3 columns]


<p><img alt="loc slice of columns" src="https://s3.amazonaws.com/dq-content/291/loc_slice.svg"></p>

In [36]:
industries = f500['Industry']
industries.head()

Rank
1                       General Merchandisers
2    Insurance: Property and Casualty (Stock)
3                 Computers, Office Equipment
4                          Petroleum Refining
5                    Wholesalers: Health Care
Name: Industry, dtype: object

In [40]:
industries = f500.Industry
industries.head()

Rank
1                       General Merchandisers
2    Insurance: Property and Casualty (Stock)
3                 Computers, Office Equipment
4                          Petroleum Refining
5                    Wholesalers: Health Care
Name: Industry, dtype: object


<p></p><center>
<table>
<thead>
<tr>
<th>Select by Label</th>
<th>Explicit Syntax</th>
<th>Common Shorthand</th>
<th>Other Shorthand</th>
</tr>
</thead>
<tbody>
<tr>
<td>Single column</td>
<td><code>df.loc[:,"col1"]</code></td>
<td><code>df["col1"]</code></td>
<td><code>df.col1</code></td>
</tr>
<tr>
<td>List of columns</td>
<td><code>df.loc[:,["col1", "col7"]]</code></td>
<td><code>df[["col1", "col7"]]</code></td>
<td></td>
</tr>
<tr>
<td>Slice of columns</td>
<td><code>df.loc[:,"col1":"col4"]</code></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</center><p></p>

### Selecting Items from a Series by Label



<p><img alt="dataframe exploded" src="https://s3.amazonaws.com/dq-content/291/df_exploded.svg"></p>



<p><img alt="series vs dataframe: series" src="https://s3.amazonaws.com/dq-content/291/df_series_s.svg"></p>


<p><img alt="series vs dataframe: dataframe" src="https://s3.amazonaws.com/dq-content/291/df_series_df.svg"></p>



<center>
<table>
<thead>
<tr>
<th></th>
<th>Series</th>
<th>DataFrame</th>
</tr>
</thead>
<tbody>
<tr>
<th>Dimensions</th>
<td>One</td>
<td>Two</td>
</tr>
<tr>
<th>Has 'index' axis</th>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr>
<th>Has 'columns' axis</th>
<td>No</td>
<td>Yes</td>
</tr>
<tr>
<th>Number of dtypes</th>
<td>One</td>
<td>Many (one per column)</td>
</tr>
</tbody>
</table>
</center>

In [44]:
s = pd.Series([4,7,-5,3], index = ['d','b','a','c'])

s

d    4
b    7
a   -5
c    3
dtype: int64

In [45]:
s['d']

4

In [46]:
s.keys()

Index(['d', 'b', 'a', 'c'], dtype='object')

In [55]:
ceos = f500['Ceo']
ceos.head(2)

SyntaxError: invalid syntax (<ipython-input-55-91ef04ff143f>, line 2)

### Selecting Rows From a DataFrame by Label



<p><img alt="anatomy of a dataframe" src="https://s3.amazonaws.com/dq-content/291/df_anatomy_static.svg"></p>

In [56]:
f500.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            491, 492, 493, 494, 495, 496, 497, 498, 499, 500],
           dtype='int64', name='Rank', length=500)

In [63]:
f500.set_index('Titles', inplace = True)

KeyError: 'Titles'

In [64]:
single_row = f500.loc['Walmart']
single_row

Website                               http://www.walmart.com
Employees                                            2300000
Sector                                             Retailing
Industry                               General Merchandisers
Hqlocation                                   Bentonville, AR
Hqaddr                                   702 S.W. Eighth St.
Hqcity                                           Bentonville
Hqstate                                                   AR
Hqzip                                                  72716
Hqtel                                           479-273-4000
Ceo                                      C. Douglas McMillon
Ceo-title      President, Chief Executive Officer & Director
Address           702 S.W. Eighth St., Bentonville, AR 72716
Ticker                                                   WMT
Fullname                               Wal-Mart Stores, Inc.
Revenues                                              485873
Revchange                                                0.8
Profits                                                13643
Prftchange                                              -7.2
Assets                                                198825
Totshequity                                            77798
Name: Walmart, dtype: object

**pandas.DataFrame.set_index**

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html?highlight=set_index#pandas.DataFrame.set_index

`DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)`

Set the DataFrame index (row labels) using one or more existing columns. By default yields a new object.

<table>
<colgroup><col class="field-name">
<col class="field-body">
</colgroup><tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>keys</strong> <span class="classifier-delimiter">:</span> <span class="classifier">column label or list of column labels / arrays</span></dt>
<dd></dd>
</dl>
<p><strong>drop</strong> : boolean, default True</p>
<blockquote>
<div><p>Delete columns to be used as the new index</p>
</div></blockquote>
<p><strong>append</strong> : boolean, default False</p>
<blockquote>
<div><p>Whether to append columns to existing index</p>
</div></blockquote>
<p><strong>inplace</strong> : boolean, default False</p>
<blockquote>
<div><p>Modify the DataFrame in place (do not create a new object)</p>
</div></blockquote>
<p><strong>verify_integrity</strong> : boolean, default False</p>
<blockquote>
<div><p>Check the new index for duplicates. Otherwise defer the check until
necessary. Setting to False will improve the performance of this
method</p>
</div></blockquote>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>dataframe</strong> <span class="classifier-delimiter">:</span> <span class="classifier">DataFrame</span></dt>
<dd></dd>
</dl>
</td>
</tr>
</tbody>
</table>

In [65]:
top_three = f500.loc
top_three

In [74]:
top_ = f500.loc[['Walmart':'Exxon Mobil'], ['Website' : 'Industry']]

SyntaxError: invalid syntax (<ipython-input-74-9405b8eedd33>, line 1)

In [76]:
top_ten = f500.iloc[:10,:]
top_ten.head(2)

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0

In [77]:
top_ten.iloc[5:, 5:]

,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,Ceo,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,
UnitedHealth Group,9900 Bren Rd. E.,Minnetonka,MN,55343,952-936-1300,Stephen J. Hemsley,Chief Executive Officer & Director,"9900 Bren Rd. E., Minnetonka, MN 55343",UNH,UnitedHealth Group Incorporated,184840,17.7,7017.0,20.7,122810,38274.0
CVS Health,1 CVS Dr.,Woonsocket,RI,2895,401-765-1500,Larry J. Merlo,"President, Chief Executive Officer & Director","1 CVS Dr., Woonsocket, RI 02895",CVS,CVS Health Corporation,177526,15.8,5317.0,1.5,94462,36830.0
General Motors,300 Renaissance Center,Detroit,MI,48265,313-556-5000,Mary T. Barra,Chairman & Chief Executive Officer,"300 Renaissance Center, Detroit, MI 48265",GM,General Motors Company,166380,9.2,9427.0,-2.7,221690,43836.0
AT&T,208 S. Akard St.,Dallas,TX,75202,210-821-4105,Randall L. Stephenson,"Chairman, President & Chief Executive Officer","208 S. Akard St., Dallas, TX 75202",T,AT&T Inc.,163786,11.6,12976.0,-2.8,403821,123135.0
Ford Motor,1 American Rd.,Dearborn,MI,48126,313-322-3000,James P. Hackett,"President, Chief Executive Officer & Director","1 American Rd., Dearborn, MI 48126",F,Ford Motor Company,151800,1.5,4596.0,-37.7,237951,29170.0

In [79]:
top_ten.iloc[:, 0]

Title
Walmart                         http://www.walmart.com
Berkshire Hathaway    http://www.berkshirehathaway.com
Apple                             http://www.apple.com
Exxon Mobil                  http://www.exxonmobil.com
McKesson                       http://www.mckesson.com
UnitedHealth Group    http://www.unitedhealthgroup.com
CVS Health                    http://www.cvshealth.com
General Motors                       http://www.gm.com
AT&T                                http://www.att.com
Ford Motor                         http://www.ford.com
Name: Website, dtype: object

In [81]:
top_ten.iloc[9, :]

Website                                  http://www.ford.com
Employees                                             201000
Sector                                Motor Vehicles & Parts
Industry                            Motor Vehicles and Parts
Hqlocation                                      Dearborn, MI
Hqaddr                                        1 American Rd.
Hqcity                                              Dearborn
Hqstate                                                   MI
Hqzip                                                  48126
Hqtel                                           313-322-3000
Ceo                                         James P. Hackett
Ceo-title      President, Chief Executive Officer & Director
Address                   1 American Rd., Dearborn, MI 48126
Ticker                                                     F
Fullname                                  Ford Motor Company
Revenues                                              151800
Revchange                                                1.5
Profits                                                 4596
Prftchange                                             -37.7
Assets                                                237951
Totshequity                                            29170
Name: Ford Motor, dtype: object

### Selecting pandas data using “iloc”

## Series and Dataframe Describe Methods

In [82]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to ABM Industries
Data columns (total 21 columns):
Website        500 non-null object
Employees      500 non-null int64
Sector         500 non-null object
Industry       500 non-null object
Hqlocation     500 non-null object
Hqaddr         500 non-null object
Hqcity         500 non-null object
Hqstate        500 non-null object
Hqzip          500 non-null int64
Hqtel          500 non-null object
Ceo            500 non-null object
Ceo-title      500 non-null object
Address        500 non-null object
Ticker         500 non-null object
Fullname       500 non-null object
Revenues       500 non-null int64
Revchange      500 non-null float64
Profits        500 non-null float64
Prftchange     500 non-null object
Assets         500 non-null int64
Totshequity    500 non-null float64
dtypes: float64(3), int64(4), object(14)
memory usage: 105.9+ KB

In [83]:
revs = f500['Revenues']
revs.describe()

count       500.000000
mean      24111.748000
std       38337.353337
min        5145.000000
25%        7245.000000
50%       11384.000000
75%       22605.250000
max      485873.000000
Name: Revenues, dtype: float64

In [84]:
f500['Assets'].describe()

count    5.000000e+02
mean     8.038934e+04
std      2.704257e+05
min      4.370000e+02
25%      8.436500e+03
50%      1.932450e+04
75%      4.812600e+04
max      3.287968e+06
Name: Assets, dtype: float64

In [85]:
f500['Hqstate'].describe()

count     500
unique     37
top        NY
freq       54
Name: Hqstate, dtype: object

In [86]:
f500.describe()

,Employees,Hqzip,Revenues,Revchange,Profits,Assets,Totshequity
count,5.000000e+02,500.000000,500.000000,500.00000,500.000000,5.000000e+02,500.0000
mean,5.635013e+04,46791.714000,24111.748000,3.75800,1779.479800,8.038934e+04,13640.1470
std,1.234520e+05,30160.384765,38337.353337,19.96748,3937.558721,2.704257e+05,30523.1538
min,8.300000e+01,1104.000000,5145.000000,-57.50000,-6177.000000,4.370000e+02,-12688.0000
25%,1.190000e+04,19099.000000,7245.000000,-3.82500,235.725000,8.436500e+03,1997.5000
50%,2.500000e+04,46244.500000,11384.000000,1.90000,683.600000,1.932450e+04,4981.0000
75%,5.682525e+04,75045.000000,22605.250000,7.32500,1770.775000,4.812600e+04,12467.7500
max,2.300000e+06,98188.000000,485873.000000,197.30000,45687.000000,3.287968e+06,283001.0000

In [88]:
f500.describe(include = ['O'])

,Website,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqtel,Ceo,Ceo-title,Address,Ticker,Fullname,Prftchange
count,500,500,500,500,500,500,500,500,500,500,500,500,500,500
unique,499,21,73,246,491,239,37,499,496,12,494,468,500,377
top,http://www.abbott.com,Financials,Utilities: Gas and Electric,"New York, NY",1211 Ave. of the Americas,New York,NY,650-857-1501,Gregory J. Goff,"President, Chief Executive Officer & Director","12300 Liberty Blvd., Englewood, CO 80112",NFLX,Alleghany Corporation,5.2
freq,2,84,22,45,2,45,54,2,2,189,2,3,1,6

In [93]:
f500["Profits"].describe()

count      500.000000
mean      1779.479800
std       3937.558721
min      -6177.000000
25%        235.725000
50%        683.600000
75%       1770.775000
max      45687.000000
Name: Profits, dtype: float64

In [98]:
f500[['Revenues', 'Employees']].describe()

            Revenues     Employees
count     500.000000  5.000000e+02
mean    24111.748000  5.635013e+04
std     38337.353337  1.234520e+05
min      5145.000000  8.300000e+01
25%      7245.000000  1.190000e+04
50%     11384.000000  2.500000e+04
75%     22605.250000  5.682525e+04
max    485873.000000  2.300000e+06

### More Data Exploration Methods

<p><img alt="dataframe axis parameters" src="https://s3.amazonaws.com/dq-content/291/axis_param.svg"></p>

In [99]:
df = pd.DataFrame({'A' : [1,1,2,1,2,3,3,3,3,3]})
df

   A
0  1
1  1
2  2
3  1
4  2
5  3
6  3
7  3
8  3
9  3

In [101]:
df.sum(axis = 0)

A    22
dtype: int64

In [110]:
f500[['Revenues', "Profits"]].median(axis = 0)

Revenues    11384.0
Profits       683.6
dtype: float64

In [114]:
f500['Sector'].value_counts().head()

Financials     84
Energy         57
Retailing      47
Technology     43
Health Care    38
Name: Sector, dtype: int64

In [115]:
f500['Hqstate'].value_counts().head(10)

NY    54
CA    53
TX    50
IL    36
OH    25
VA    23
NJ    21
PA    21
MN    18
CT    18
Name: Hqstate, dtype: int64

In [122]:
f500.max(numeric_only = True)

Employees      2300000.0
Hqzip            98188.0
Revenues        485873.0
Revchange          197.3
Profits          45687.0
Assets         3287968.0
Totshequity     283001.0
dtype: float64

###  Assignment with pandas

In [124]:
top5_rank = f500[['Profits', 'Revenues']].head()
top5_rank

                    Profits  Revenues
Title
Walmart             13643.0    485873
Berkshire Hathaway  24074.0    223604
Apple               45687.0    215639
Exxon Mobil          7840.0    205004
McKesson             2258.0    192487

In [125]:
top5_rank['Revenues'] = 0
top5_rank

                    Profits  Revenues
Title
Walmart             13643.0         0
Berkshire Hathaway  24074.0         0
Apple               45687.0         0
Exxon Mobil          7840.0         0
McKesson             2258.0         0

In [129]:
top5_rank.iloc(['Apple']) = 99
top5_rank

SyntaxError: can't assign to function call (<ipython-input-129-bb9adf433bfd>, line 1)

In [130]:
f500['Revenues']

Title
Walmart                               485873
Berkshire Hathaway                    223604
Apple                                 215639
Exxon Mobil                           205004
McKesson                              192487
UnitedHealth Group                    184840
CVS Health                            177526
General Motors                        166380
AT&T                                  163786
Ford Motor                            151800
AmerisourceBergen                     146850
Amazon.com                            135987
General Electric                      126661
Verizon                               125980
Cardinal Health                       121546
Costco                                118719
Walgreens Boots Alliance              117351
Kroger                                115337
Chevron                               107567
Fannie Mae                            107162
J.P. Morgan Chase                     105486
Express Scripts Holding               100288
Home Depot                             94595
Boeing                                 94571
Wells Fargo                            94176
Bank of America Corp.                  93662
Alphabet                               90272
Microsoft                              85320
Anthem                                 84863
Citigroup                              82386
                                       ...
Fiserv                                  5505
Host Hotels & Resorts                   5488
Insight Enterprises                     5486
Mattel                                  5457
AmTrust Financial Services              5451
Cincinnati Financial                    5449
Simon Property Group                    5435
Western Union                           5423
KeyCorp                                 5422
Delek US Holdings                       5414
Booz Allen Hamilton Holding             5406
Chemours                                5400
Western & Southern Financial Group      5398
Celanese                                5389
Windstream Holdings                     5387
Seaboard                                5379
Essendant                               5369
Apache                                  5354
Airgas                                  5314
Kelly Services                          5277
Liberty Media                           5276
Rockwell Collins                        5259
Robert Half International               5250
CH2M Hill                               5236
Big Lots                                5200
Michaels Cos.                           5197
Toll Brothers                           5170
Yahoo                                   5169
Vistra Energy                           5164
ABM Industries                          5145
Name: Revenues, Length: 500, dtype: int64

In [132]:
f500['rev_bil'] = f500['Revenues'] / 1000
f500.head()

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,rev_bil
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,485.873
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,223.604
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,215.639
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,205.004
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,192.487

### Using Boolean Indexing with pandas Objects



<p><img alt="Boolean arrays in pandas" src="https://s3.amazonaws.com/dq-content/291/boolean_array_pandas.svg"></p>



<p><img alt="example dataframe" src="https://s3.amazonaws.com/dq-content/291/eg_df.svg"></p>



<p><img alt="boolean series" src="https://s3.amazonaws.com/dq-content/291/bool_series.svg"></p>



<p><img alt="boolean indexing dataframe" src="https://s3.amazonaws.com/dq-content/291/boolean_indexing_df.svg"></p>



<p><img alt="boolean indexing series" src="https://s3.amazonaws.com/dq-content/291/boolean_indexing_s.svg"></p>

In [ ]:
motor_boll = f500['Industry']

### Using Boolean Arrays to Assign Values

In [135]:
f500.loc['Industry'] == 'Motor vehicles & Parts'
f500

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,rev_bil
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643,-7.2,198825,77798,485.873
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074,0,620854,283001,223.604
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687,-14.4,321686,128249,215.639
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840,-51.5,330314,167325,205.004
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258,53,56563,8924,192.487
UnitedHealth Group,http://www.unitedhealthgroup.com,230000,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",9900 Bren Rd. E.,Minnetonka,MN,55343,952-936-1300,...,"9900 Bren Rd. E., Minnetonka, MN 55343",UNH,UnitedHealth Group Incorporated,184840,17.7,7017,20.7,122810,38274,184.84
CVS Health,http://www.cvshealth.com,204000,Health Care,Health Care: Pharmacy and Other Services,"Woonsocket, RI",1 CVS Dr.,Woonsocket,RI,2895,401-765-1500,...,"1 CVS Dr., Woonsocket, RI 02895",CVS,CVS Health Corporation,177526,15.8,5317,1.5,94462,36830,177.526
General Motors,http://www.gm.com,225000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",300 Renaissance Center,Detroit,MI,48265,313-556-5000,...,"300 Renaissance Center, Detroit, MI 48265",GM,General Motors Company,166380,9.2,9427,-2.7,221690,43836,166.38
AT&T,http://www.att.com,268540,Telecommunications,Telecommunications,"Dallas, TX",208 S. Akard St.,Dallas,TX,75202,210-821-4105,...,"208 S. Akard St., Dallas, TX 75202",T,AT&T Inc.,163786,11.6,12976,-2.8,403821,123135,163.786
Ford Motor,http://www.ford.com,201000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",1 American Rd.,Dearborn,MI,48126,313-322-3000,...,"1 American Rd., Dearborn, MI 48126",F,Ford Motor Company,151800,1.5,4596,-37.7,237951,29170,151.8
AmerisourceBergen,http://www.amerisourcebergen.com,18500,Wholesalers,Wholesalers: Health Care,"Chesterbrook, PA",1300 Morris Dr.,Chesterbrook,PA,19087,610-727-7000,...,"1300 Morris Dr., Chesterbrook, PA 19087",ABC,AmerisourceBergen Corp.,146850,8,1427.9,-37.7,33656,2129,146.85
Amazon.com,http://www.amazon.com,341400,Technology,Internet Services and Retailing,"Seattle, WA",410 Terry Ave. N.,Seattle,WA,98109,206-266-1000,...,"410 Terry Ave. N., Seattle, WA 98109",AMZN,"Amazon.com, Inc.",135987,27.1,2371,297.8,83402,19285,135.987
General Electric,http://www.ge.com,295000,Industrials,Industrial Machinery,"Boston, MA",41 Farnsworth St.,Boston,MA,2210,617-443-3000,...,"41 Farnsworth St., Boston, MA 02210",GE,General Electric Company,126661,-9.8,8831,297.8,365183,75828,126.661
Verizon,http://www.verizon.com,160900,Telecommunications,Telecommunications,"New York, NY",1095 Ave. of the Americas,New York,NY,10036,212-395-1000,...,"1095 Ave. of the Americas, New York, NY 10036",VZ,Verizon Communications Inc.,125980,-4.3,13127,-26.6,244180,22524,125.98
Cardinal Health,http://www.cardinalhealth.com,37300,Wholesalers,Wholesalers: Health Care,"Dublin, OH",7000 Cardinal Place,Dublin,OH,43017,614-757-5000,...,"7000 Cardinal Place, Dublin, OH 43017",CAH,"Cardinal Health, Inc.",121546,18.5,1427,17.4,34122,6554,121.546
Costco,http://www.costco.com,172000,Retailing,General Merchandisers,"Issaquah, WA",999 Lake Dr.,Issaquah,WA,98027,425-313-8100,...,"999 Lake Dr., Issaquah, WA 98027",COST,Costco Wholesale Corporation,118719,2.2,2350,-1.1,33163,12079,118.719
Walgreens Boots Alliance,http://www.walgreensbootsalliance.com,300000,Food & Drug Stores,Food and Drug Stores,"Deerfield, IL",108 Wilmot Rd.,Deerfield,IL,60015,847-315-2500,...,"108 Wilmot Rd., Deerfield, IL 60015",WBA,"Walgreens Boots Alliance, Inc",117351,13.4,4173,-1.1,72688,29880,117.351
Kroger,http://www.thekrogerco.com,443000,Food & Drug Stores,Food and Drug Stores,"Cincinnati, OH",1014 Vine St.,Cincinnati,OH,45202,513-762-4000,...,"1014 Vine St., Cincinnati, OH 45202",KR,The Kroger Company,115337,5,1975,-3.1,36505,6698,115.337
Chevron,http://www.chevron.com,55200,Energy,Petroleum Refining,"San Ramon, CA",6001 Bollinger Canyon Rd.,San Ramon,CA,94583,925-842-1000,...,"6001 Bollinger Canyon Rd., San Ramon, CA 94583",CVX,Chevron Corporation,107567,-18,-497,-110.8,260078,145556,107.567
Fannie Mae,http://www.fanniemae.com,7000,Financials,Diversified Financials,"Washington, DC",3900 Wisconsin Ave. N.W.,Washington,DC,20016,800-232-6643,...,"3900 Wisconsin Ave. N.W., Washington, DC 20016",FNMA,Fannie Mae,107162,-2.9,12313,12.4,3287968,6071,107.162
J.P. Morgan Chase,http://www.jpmorganchase.com,243355,Financials,Commercial Banks,"New York, NY",270 Park Ave.,New York,NY,10017,212-270-6000,...,"270 Park Ave., New York, NY 10017",JPM,JPMorgan Chase & Co.,105486,4.4,24733,1.2,2490972,254190,105.486
Express Scripts Holding,http://www.express-scripts.com,25600,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",1 Express Way,St. Louis,MO,63121,314-996-0900,...,"1 Express Way, St. Louis, MO 63121",ESRX,Express Scripts Holding Company,100288,-1.4,3404.4,37.5,51745,16236,100.288
Home Depot,http://www.homedepot.com,406000,Retailing,Specialty Retailers: Other,"Atlanta, GA",2455 Paces Ferry Rd.,Atlanta,GA,30339,770-433-8211,...,"2455 Paces Ferry Rd., Atlanta, GA 30339",HD,"The Home Depot, Inc.",94595,6.9,7957,13.5,42966,4333,94.595
Boeing,http://www.boeing.com,150540,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",100 N. Riverside Plaza,Chicago,IL,60606,312-544-2000,...,"100 N. Riverside Plaza, Chicago, IL 60606",BA,The Boeing Company,94571,-1.6,4895,-5.4,89997,817,94.571
Wells Fargo,http://www.wellsfargo.com,269100,Financials,Commercial Banks,"San Francisco, CA",420 Montgomery St.,San Francisco,CA,94163,866-878-5865,...,"420 Montgomery St., San Francisco, CA 94163",WFC,Wells Fargo & Company,94176,4.6,21938,-4.2,1930115,199581,94.176
Bank of America Corp.,http://www.bankofamerica.com,208024,Financials,Commercial Banks,"Charlotte, NC",100 N. Tryon St.,Charlotte,NC,28255,704-386-5681,...,"100 N. Tryon St., Charlotte, NC 28255",BAC,Bank of America Corporation,93662,0.7,17906,12.7,2187702,266840,93.662
Alphabet,http://www.abc.xyz,72053,Technology,Internet Services and Retailing,"Mountain View, CA",1600 Amphitheatre Pkwy.,Mountain View,CA,94043,650-253-0000,...,"1600 Amphitheatre Pkwy., Mountain View, CA 94043",GOOGL,Alphabet Inc.,90272,20.4,19478,19.1,167497,139036,90.272
Microsoft,http://www.microsoft.com,114000,Technology,Computer Software,"Redmond, WA",1 Microsoft Way,Redmond,WA,98052,425-882-8080,...,"1 Microsoft Way, Redmond, WA 98052",MSFT,Microsoft Corporation,85320,-8.8,16798,37.8,193694,71997,85.32
Anthem,http://www.antheminc.com,53000,Health Care,Health Care: Insurance and Managed Care,"Indianapolis, IN",120 Monument Circle,Indianapolis,IN,46204,317-488-6000,...,"120 Monument Circle, Indianapolis, IN 46204",ANTM,"Anthem, Inc.",84863,7.2,2469.8,-3.5,65083,25100,84.863
Citigroup,http://www.citigroup.com,219000,Financials,Commercial Banks,"New York, NY",388 Greenwich St.,New York,NY,10013,212-559-1000,...,"388 Greenwich St., New York, NY 10013",C,Citigroup Inc.,82386,-6.7,14912,-13.5,1792077,225120,82.386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Host Hotels & Resorts,http://www.hosthotels.com,220,Financials,Real Estate,"Bethesda, MD",6903 Rockledge Dr.,Bethesda,MD,20817,240-744-1000,...,"6903 Rockledge Dr., Bethesda, MD 20817",HST,"Host Hotels & Resorts, Inc.",5488,1.9,762,36.6,11408,6994,5.488
Insight Enterprises,http://www.insight.com,5930,Wholesalers,Wholesalers: Electronics and Office Equipment,"Tempe, AZ",6820 S. Harl Ave.,Tempe,AZ,85283,480-333-3000,...,"6820 S. Harl Ave., Tempe, AZ 85283",NSIT,"Insight Enterprises, Inc.",5486,2.1,84.7,11.7,2219,713,5.486
Mattel,http://www.mattel.com,32000,Household Products,"Toys, Sporting Goods","El Segundo, CA",333 Continental Blvd.,El Segundo,CA,90245,310-252-2000,...,"333 Continental Blvd., El Segundo, CA 90245",MAT,"Mattel, Inc.",5457,-4.3,318,-13.9,6494,2408,5.457
AmTrust Financial Services,http://www.amtrustgroup.com,8000,Financials,Insurance: Property and Casualty (Stock),"New York, NY",59 Maiden Lane,New York,NY,10038,212-220-7120,...,"59 Maiden Lane, New York, NY 10038",AFSI,"AmTrust Financial Services, Inc.",5451,18.1,411,-8.8,22615,3269,5.451
Cincinnati Financial,http://www.cinfin.com,4754,Financials,Insurance: Property and Casualty (Stock),"Fairfield, OH",6200 S. Gilmore Rd.,Fairfield,OH,45014,513-870-2000,...,"6200 S. Gilmore Rd., Fairfield, OH 45014",CINF,Cincinnati Financial Corporation,5449,6,590.7,-6.8,20386,7060,5.449
Simon Property Group,http://www.simon.com,4050,Financials,Real Estate,"Indianapolis, IN",225 W. Washington St.,Indianapolis,IN,46204,317-636-1600,...,"225 W. Washington St., Indianapolis, IN 46204",SPG,"Simon Property Group, Inc.",5435,3.2,1838.9,0.6,31104,4310,5.435
Western Union,http://www.westernunion.com,10700,Business Services,Financial Data Services,"Englewood, CO",12500 E. Belford Ave.,Englewood,CO,80112,866-405-5012,...,"12500 E. Belford Ave., Englewood, CO 80112",WU,The Western Union Company,5423,-1.1,253.2,-69.8,9420,902,5.423
KeyCorp,http://www.key.com,15700,Financials,Commercial Banks,"Cleveland, OH",127 Public Sq.,Cleveland,OH,44114,216-689-3000,...,"127 Public Sq., Cleveland, OH 44114",KEY,KeyCorp,5422,19.4,791,-13.6,136453,15240,5.422
Delek US Holdings,http://www.delekus.com,1326,Energy,Petroleum Refining,"Brentwood, TN",7102 Commerce Way,Brentwood,TN,37027,615-771-6701,...,"7102 Commerce Way, Brentwood, TN 37027",DK,"Delek US Holdings, Inc.",5414,-6,-153.7,-892.3,2985,992,5.414
Booz Allen Hamilton Holding,http://www.boozallen.com,22600,Technology,Information Technology Services,"McLean, VA",8283 Greensboro Dr.,McLean,VA,22102,703-902-5000,...,"8283 Greensboro Dr., McLean, VA 22102",BAH,Booz Allen Hamilton Holding Corp.,5406,2.5,294.1,26.5,3010,409,5.406
Chemours,http://www.chemours.com,7000,Chemicals,Chemicals,"Wilmington, DE",1007 Market St.,Wilmington,DE,19899,302-773-1000,...,"1007 Market St., Wilmington, DE 19899",CC,The Chemours Company,5400,2.5,7,26.5,6060,100,5.4
Western & Southern Financial Group,http://www.westernsouthern.com,2178,Financials,"Insurance: Life, Health (Mutual)","Cincinnati, OH",400 Broadway,Cincinnati,OH,45202,513-629-1800,...,"400 Broadway, Cincinnati, OH 45202",CC,Western & Southern Mutual Holding Company,5398,0.8,241.2,-47.2,43831,5104,5.398
Celanese,http://www.celanese.com,7293,Chemicals,Chemicals,"Irving, TX",222 W. Las Colinas Blvd.,Irving,TX,75039,972-443-4000,...,"222 W. Las Colinas Blvd., Irving, TX 75039",CE,Celanese Corporation,5389,-5,900,196.1,8357,2588,5.389
Windstream Holdings,http://www.windstream.com,11870,Telecommunications,Telecommunications,"Little Rock, AR",4001 Rodney Parham Rd.,Little Rock,AR,72212,501-748-7000,...,"4001 Rodney Parham Rd., Little Rock, AR 72212",WIN,"Windstream Holdings, Inc.",5387,-6.6,-383.5,"-1,499.60",11770,170,5.387
Seaboard,http://www.seaboardcorp.com,11781,"Food, Beverages & Tobacco",Food Production,"Merriam, KS",9000 W. 67th St.,Merriam,KS,66202,913-676-8800,...,"9000 W. 67th St., Merriam, KS 66202",SEB,Seaboard Corporation,5379,-3.8,312,82.5,4755,3162,5.379
Essendant,http://www.essendant.com,6600,Wholesalers,Wholesalers: Electronics and Office Equipment,"Deerfield, IL",1 Parkway N. Blvd.,Deerfield,IL,60015,847-627-7000,...,"1 Parkway N. Blvd., Deerfield, IL 60015",ESND,Essendant Inc.,5369,0.1,63.9,82.5,2164,781,5.369
Apache,http://www.apachecorp.com,3727,Energy,"Mining, Crude-Oil Production","Houston, TX",2000 Post Oak Blvd.,Houston,TX,77056,713-296-6000,...,"2000 Post Oak Blvd., Houston, TX 77056",APA,Apache Corporation,5354,-19.5,-1405,82.5,22519,6238,5.354
Airgas,http://www.airgas.com,17000,Wholesalers,Wholesalers: Diversified,"Radnor, PA",259 N. Radnor-Chester Rd.,Radnor,PA,19087,610-687-5253,...,"259 N. Radnor-Chester Rd., Radnor, PA 19087",APA,"Airgas, Inc.",5314,0.2,337.5,-8.3,6135,2045,5.314
Kelly Services,http://www.kellyservices.com,7500,Business Services,Temporary Help,"Troy, MI",999 W. Big Beaver Rd.,Troy,MI,48084,248-362-4444,...,"999 W. Big Beaver Rd., Troy, MI 48084",KELYA,"Kelly Services, Inc.",5277,-4.4,120.8,124.5,2028,1012,5.277
Liberty Media,http://www.libertymedia.com,3626,Media,Entertainment,"Englewood, CO",12300 Liberty Blvd.,Englewood,CO,80112,720-875-5400,...,"12300 Liberty Blvd., Englewood, CO 80112",LSXMA,Liberty Media Corporation,5276,10,680,962.5,31377,11756,5.276
Rockwell Collins,http://www.rockwellcollins.com,19000,Aerospace & Defense,Aerospace and Defense,"Cedar Rapids, IA",400 Collins Rd. N.E.,Cedar Rapids,IA,52498,319-295-1000,...,"400 Collins Rd. N.E., Cedar Rapids, IA 52498",COL,"Rockwell Collins, Inc.",5259,-0.1,728,6.1,7707,2078,5.259
Robert Half International,http://www.roberthalf.com,16400,Business Services,Temporary Help,"Menlo Park, CA",2884 Sand Hill Rd.,Menlo Park,CA,94025,650-234-6000,...,"2884 Sand Hill Rd., Menlo Park, CA 94025",RHI,Robert Half International Inc.,5250,3.1,343.4,-4,1778,1087,5.25
CH2M Hill,http://www.ch2m.com,20000,Engineering & Construction,"Engineering, Construction","Englewood, CO",9191 S. Jamaica St.,Englewood,CO,80112,303-771-0900,...,"9191 S. Jamaica St., Englewood, CO 80112",RHI,"CH2M HILL Companies, Ltd.",5236,-2.3,15,-81.3,2671,547,5.236
Big Lots,http://www.biglots.com,23150,Retailing,Specialty Retailers: Other,"Columbus, OH",300 Phillipi Rd.,Columbus,OH,43228,614-278-6800,...,"300 Phillipi Rd., Columbus, OH 43228",BIG,"Big Lots, Inc.",5200,0.2,152.8,7,1608,651,5.2
Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,972-409-1300,...,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698,5.197
Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,215-938-8000,...,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229,5.17
Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,408-349-3300,...,"701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4,-214.3,5.2,48083,31049,5.169
Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,214-812-4600,...,"1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4,-214.3,5.2,15167,6597,5.164
ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,212-297-0200,...,"1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974,5.145
Industry,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,...,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts,Motor vehicles & Parts

### Deleting a Column from Your DataFrame

`DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')`

Drop specified labels from rows or columns.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.htmlhttps://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html

Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names. When using a multi-index, labels on different levels can be removed by specifying the level.

In [137]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [40, 50, 9], [7, 2, 9], [40, 50, 9], [23, 35, 37]]), 
                  index= [2.5, 12.6, 4.8, 4.8, 2.5], 
                  columns=['A', 'B', 'C'])

In [138]:
df

       A   B   C
2.5    1   2   3
12.6  40  50   9
4.8    7   2   9
4.8   40  50   9
2.5   23  35  37

In [139]:
df.drop('A', axis = 'columns')

       B   C
2.5    2   3
12.6  50   9
4.8    2   9
4.8   50   9
2.5   35  37

### Removing a Row from Your DataFrame

In [140]:
df

       A   B   C
2.5    1   2   3
12.6  40  50   9
4.8    7   2   9
4.8   40  50   9
2.5   23  35  37

In [141]:
df_1 = df.drop_duplicates()
df_1

       A   B   C
2.5    1   2   3
12.6  40  50   9
4.8    7   2   9
2.5   23  35  37

`DataFrame.drop_duplicates(subset=None, keep='first', inplace=False)`

Return DataFrame with duplicate rows removed, optionally only considering certain columns

<table class="docutils field-list" frame="void" rules="none">
<colgroup><col class="field-name">
<col class="field-body">
</colgroup><tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><p class="first"><strong>subset</strong> : column label or sequence of labels, optional</p>
<blockquote>
<div><p>Only consider certain columns for identifying duplicates, by
default use all of the columns</p>
</div></blockquote>
<p><strong>keep</strong> : {‘first’, ‘last’, False}, default ‘first’</p>
<blockquote>
<div><ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">first</span></code> : Drop duplicates except for the first occurrence.</li>
<li><code class="docutils literal notranslate"><span class="pre">last</span></code> : Drop duplicates except for the last occurrence.</li>
<li>False : Drop all duplicates.</li>
</ul>
</div></blockquote>
<p><strong>inplace</strong> : boolean, default False</p>
<blockquote>
<div><p>Whether to drop duplicates in place or to return a copy</p>
</div></blockquote>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>deduplicated</strong> <span class="classifier-delimiter">:</span> <span class="classifier">DataFrame</span></dt>
<dd></dd>
</dl>
</td>
</tr>
</tbody>
</table>

### Combining Datasets: Concat and Append

In [4]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

In [5]:
# example DataFrame
make_df('ABCD', range(3))

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

#### Concatenation of NumPy Arrays

In [6]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

#### Simple Concatenation with pd.concat


`pandas.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)`

[Dokumentacija](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)

In [7]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

In [8]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])

In [56]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])

#### Duplicate indices

In [61]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])

##### Catching the repeats as an error

##### Ignoring the index

##### Adding MultiIndex keys

[Več o Hierarchical Indexing](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html)

#### Concatenation with joins

In [74]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])

#### The append() method

### Aggregation and Grouping

#### Planets dataset

#### GroupBy: Split, Apply, Combine

##### Split, apply, combine

<img src="https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png" alt="">

In [9]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])

#### The GroupBy object

#### Column indexing

#### Dispatch methods

#### Aggregate, filter, transform, apply

In [10]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])

##### Aggregation

##### Filtering

##### Transformation

##### The apply() method

### Working with Time Series

#### Dates and Times in Python


##### Native Python dates and times

##### Typed arrays of times: NumPy's datetime64

[Dokumentacija](https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html)

<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<table>
<thead><tr>
<th>Code</th>
<th>Meaning</th>
<th>Time span (relative)</th>
<th>Time span (absolute)</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Y</code></td>
<td>Year</td>
<td>± 9.2e18 years</td>
<td>[9.2e18 BC, 9.2e18 AD]</td>
</tr>
<tr>
<td><code>M</code></td>
<td>Month</td>
<td>± 7.6e17 years</td>
<td>[7.6e17 BC, 7.6e17 AD]</td>
</tr>
<tr>
<td><code>W</code></td>
<td>Week</td>
<td>± 1.7e17 years</td>
<td>[1.7e17 BC, 1.7e17 AD]</td>
</tr>
<tr>
<td><code>D</code></td>
<td>Day</td>
<td>± 2.5e16 years</td>
<td>[2.5e16 BC, 2.5e16 AD]</td>
</tr>
<tr>
<td><code>h</code></td>
<td>Hour</td>
<td>± 1.0e15 years</td>
<td>[1.0e15 BC, 1.0e15 AD]</td>
</tr>
<tr>
<td><code>m</code></td>
<td>Minute</td>
<td>± 1.7e13 years</td>
<td>[1.7e13 BC, 1.7e13 AD]</td>
</tr>
<tr>
<td><code>s</code></td>
<td>Second</td>
<td>± 2.9e12 years</td>
<td>[ 2.9e9 BC, 2.9e9 AD]</td>
</tr>
<tr>
<td><code>ms</code></td>
<td>Millisecond</td>
<td>± 2.9e9 years</td>
<td>[ 2.9e6 BC, 2.9e6 AD]</td>
</tr>
<tr>
<td><code>us</code></td>
<td>Microsecond</td>
<td>± 2.9e6 years</td>
<td>[290301 BC, 294241 AD]</td>
</tr>
<tr>
<td><code>ns</code></td>
<td>Nanosecond</td>
<td>± 292 years</td>
<td>[ 1678 AD, 2262 AD]</td>
</tr>
<tr>
<td><code>ps</code></td>
<td>Picosecond</td>
<td>± 106 days</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
<tr>
<td><code>fs</code></td>
<td>Femtosecond</td>
<td>± 2.6 hours</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
<tr>
<td><code>as</code></td>
<td>Attosecond</td>
<td>± 9.2 seconds</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
</tbody>
</table>

</div>
</div>

#### Dates and times in pandas: best of both worlds

#### Pandas Time Series: Indexing by Time

#### Pandas Time Series Data Structures

In [13]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])

#### Example

### Understanding SettingwithCopyWarning in pandas

#### What is SettingWithCopyWarning?



<img class="full-width" src="https://www.dataquest.io/wp-content/uploads/2019/01/view-vs-copy.png" alt="view-vs-copy">



<img class="full-width" src="https://www.dataquest.io/wp-content/uploads/2019/01/modifying.png" alt="modifying">

## Več o 

[Pandas on PyVideo](https://pyvideo.org/)