In [9]:
import numpy as np
import pandas as pd

# Uvod v pandas - Domača naloga

[Vir](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

### 1. How to combine many series to form a dataframe?

Combine ser1 and ser2 to form a dataframe.

In [10]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [1]:
#Rešitev

### 2. How to assign name to the series’ index?

Give a name to the series ser calling it ‘alphabets’.

In [13]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [3]:
#Rešitev

### 3. How to get the items of series A not present in series B?

From ser1 remove items present in ser2.

**Pomoč:** Metoda .isin()

In [15]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [4]:
#Rešitev

### 4. How to get frequency counts of unique items of a series?

Calculte the frequency counts of each unique value ser.

In [24]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [5]:
#Rešitev

### 5. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [26]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [6]:
#Rešitev

### 6. How to extract items at given positions from a series

From ser, extract the items at positions in list pos.

**Pomoč:** Metoda .take()

In [28]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [7]:
#Rešitev

### 7. How to convert the first character of each element in a series to uppercase?

Change the first character of each word to upper case in each word of ser.

In [30]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [8]:
#Rešitev

### 8. How to convert a series of date-strings to a timeseries?

In [32]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

Desired Output:
```
0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]
```

In [9]:
#Rešitev

### 9.  How to get the day of month, week number, day of year and day of week from a series of date strings?

Get the day of month, week number, day of year and day of week from ser.

In [34]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

Desired Output:
```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [10]:
#Rešitev

### 10. How to filter valid emails from a series?

Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [36]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [11]:
#Rešitev

### 11. How to change column values when importing csv to a dataframe?

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

> Dataset: https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

**Pomoč:** Uporaba parametra converter v read_csv() funkciji.

In [12]:
#Rešitev

### 12. How to import only specified columns from a csv file?

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

> Dataset: https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [13]:
#Rešitev

### 12. How to check if a dataframe has any missing values?

Check if df has any missing values.

In [46]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [14]:
#Rešitev

## Dodaten izziv
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd

df = pd.read_csv('data/DN_olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,? Summer,Gold,Silver,Bronze,Total,? Winter,Gold.1,Silver.1,Bronze.1,Total.1,? Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [3]:
# You should write your whole answer within the function provided.
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

? Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
? Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
? Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
def answer_one():
    return "YOUR ANSWER HERE"

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    return "YOUR ANSWER HERE"

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three():
    return "YOUR ANSWER HERE"

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    return "YOUR ANSWER HERE"