In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Web scraping - pridobivanje podatkov s spleta

## What Is Web Scraping?

<img class="progressiveMedia-image js-progressiveMedia-image" data-src="https://cdn-images-1.medium.com/max/1600/1*GOyqaID2x1N5lD_rhTDKVQ.png" src="https://cdn-images-1.medium.com/max/1600/1*GOyqaID2x1N5lD_rhTDKVQ.png">

### Why Web Scraping for Data Science?

## Network complexity

## HTTP

## HTTP in Python: The Requests Library

[Requests: HTTP for Humans](https://2.python-requests.org/en/master/)

In [2]:
import requests

In [4]:
url = 'http://example.com/'

In [5]:
r = requests.get(url)

In [6]:
r

In [7]:
type(r)

requests.models.Response

In [4]:
r.text

'<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n    <meta charset="utf-8" />\n    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />\n    <meta name="viewport" content="width=device-width, initial-scale=1" />\n    <style type="text/css">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 50px;\n        background-color: #fff;\n        border-radius: 1em;\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        body {\n            background-color: #fff;\n        }\n        div {\n            width: auto;\n            margin: 0 auto;\n            border-radius: 0;\n            padding: 1em;\n        }\n    }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n    <p>This domain is established to be used for illustrative examples in documents. You may use this\n    domain in examples without prior coordination or asking for permission.</p>\n    <p><a href="http://www.iana.org/domains/example">More information...</a></p>\n</div>\n</body>\n</html>\n'

In [8]:
r.status_code

200

In [9]:
r.reason

'OK'

In [10]:
r.headers

{'Content-Encoding': 'gzip', 'Accept-Ranges': 'bytes', 'Cache-Control': 'max-age=604800', 'Content-Type': 'text/html; charset=UTF-8', 'Date': 'Tue, 28 May 2019 20:00:57 GMT', 'Etag': '"1541025663+ident"', 'Expires': 'Tue, 04 Jun 2019 20:00:57 GMT', 'Last-Modified': 'Fri, 09 Aug 2013 23:54:35 GMT', 'Server': 'ECS (bsa/EB24)', 'Vary': 'Accept-Encoding', 'X-Cache': 'HIT', 'Content-Length': '606'}

In [11]:
r.request

In [12]:
r.request.headers

{'User-Agent': 'python-requests/2.21.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

## HTML and CSS

<img class="progressiveMedia-image js-progressiveMedia-image" data-src="https://cdn-images-1.medium.com/max/1600/1*x9mxFBXnLU05iPy19dGj7g.png" src="https://cdn-images-1.medium.com/max/1600/1*x9mxFBXnLU05iPy19dGj7g.png">

### Hypertext Markup Language: HTML

Link strani: https://en.wikipedia.org/w/index.php?title=List_of_Game_of_Thrones_episodes&oldid=802553687

In [8]:
url_got = 'https://en.wikipedia.org/w/index.php?title=List_of_Game_of_Thrones_episodes&oldid=802553687'

In [9]:
r = requests.get(url_got)

In [10]:
r.text[:1000]

'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>List of Game of Thrones episodes - Wikipedia</title>\n<script>document.documentElement.className=document.documentElement.className.replace(/(^|\\s)client-nojs(\\s|$)/,"$1client-js$2");RLCONF={"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"List_of_Game_of_Thrones_episodes","wgTitle":"List of Game of Thrones episodes","wgCurRevisionId":899966754,"wgRevisionId":802553687,"wgArticleId":31120069,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Articles containing potentially dated statements from August 2017","All articles containing potentially dated statements","Official website not in Wikidata","Featured lists","Game of Thrones episodes","Lists of American drama television series episodes","Lists of fantasy television series episodes"],"wgBreakFrames":!1,"wgPageContentLanguage":"en","w'

In [16]:
from bs4 import BeautifulSoup

In [11]:
html_content = r.text

In [12]:
html_soup = BeautifulSoup(html_content, 'html.parser')

In [13]:
html_soup.find('h1')

In [15]:
html_soup.find('', {'id' : 'firstHeading'})

- `<p>...</p>` to enclose a paragraph;
- `<br>` to set a line break;
- `<table>...</table>` to start a table block, inside; `<tr>...<tr/>` is used for the rows; and `<td>...</td>` cells;
- `<img>` for images;
- `<h1>...</h1> to <h6>...</h6>` for headers;
- `<div>...</div>` to indicate a “division” in an HTML document, basically used to group a set of elements;
- `<a>...</a>` for hyperlinks;
- `<ul>...</ul>, <ol>...</ol>` for unordered and ordered lists respectively; inside of these, `<li>...</li>` is used for each list item.

## Using Your Browser as a Development Tool

## The Beautiful Soup Library

In [8]:
html_content = r.text

In [11]:
import pandas as pd

> **[beautifulsoup4](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)**: Beautiful Soup tries to organize complexity: it helps to parse, structure and organize the oftentimes very messy web by fixing bad HTML and presenting us with an easy-to-work-with Python structure.

In [9]:
from bs4 import BeautifulSoup

In [17]:
html_soup = BeautifulSoup(html_content, 'html.parser')

In Python, multiple parsers exist to do so:
- `html.parser`: a built-in Python parser that is decent (especially when using recent versions of Python 3) and requires no extra installation.
- `lxml`: which is very fast but requires an extra installation.
- `html5lib`: which aims to parse web page in exactly the same way as a web browser does, but is a bit slower.

- `find(name, attrs, recursive, string, **keywords)`
- `find_all(name, attrs, recursive, string, limit, **keywords)`

In [18]:
html_soup.find('h1')

In [19]:
html_soup.find('', {'id': 'firstHeading'})

In [20]:
all_h2 = html_soup.find_all('h2')

In [21]:
all_h2

[<h2>Contents</h2>,
 <h2><span class="mw-headline" id="Series_overview">Series overview</span></h2>,
 <h2><span class="mw-headline" id="Episodes">Episodes</span></h2>,
 <h2><span class="mw-headline" id="Home_media_releases">Home media releases</span></h2>,
 <h2><span class="mw-headline" id="Ratings">Ratings</span></h2>,
 <h2><span class="mw-headline" id="References">References</span></h2>,
 <h2><span class="mw-headline" id="External_links">External links</span></h2>,
 <h2>Navigation menu</h2>]

In [24]:
len (all_h2)

8

In [25]:
all_h2

[<h2>Contents</h2>,
 <h2><span class="mw-headline" id="Series_overview">Series overview</span></h2>,
 <h2><span class="mw-headline" id="Episodes">Episodes</span></h2>,
 <h2><span class="mw-headline" id="Home_media_releases">Home media releases</span></h2>,
 <h2><span class="mw-headline" id="Ratings">Ratings</span></h2>,
 <h2><span class="mw-headline" id="References">References</span></h2>,
 <h2><span class="mw-headline" id="External_links">External links</span></h2>,
 <h2>Navigation menu</h2>]

In [22]:
for found in html_soup.find_all('h2'):
    print(found)

<h2>Contents</h2>
<h2><span class="mw-headline" id="Series_overview">Series overview</span></h2>
<h2><span class="mw-headline" id="Episodes">Episodes</span></h2>
<h2><span class="mw-headline" id="Home_media_releases">Home media releases</span></h2>
<h2><span class="mw-headline" id="Ratings">Ratings</span></h2>
<h2><span class="mw-headline" id="References">References</span></h2>
<h2><span class="mw-headline" id="External_links">External links</span></h2>
<h2>Navigation menu</h2>

In [23]:
first_h1 = html_soup.find('h1')

In [24]:
first_h1

In [25]:
first_h1.name

'h1'

In [26]:
first_h1.contents

['List of ', <i>Game of Thrones</i>, ' episodes']

In [27]:
str(first_h1)

'<h1 class="firstHeading" id="firstHeading" lang="en">List of <i>Game of Thrones</i> episodes</h1>'

In [28]:
first_h1.text

'List of Game of Thrones episodes'

In [35]:
first_h1.get_text()

'List of Game of Thrones episodes'

In [37]:
first_h1.attrs

{'id': 'firstHeading', 'class': ['firstHeading'], 'lang': 'en'}

In [38]:
first_h1.attrs['id']

'firstHeading'

In [39]:
first_h1['id']

'firstHeading'

In [40]:
first_h1.get('id')

'firstHeading'

In [29]:
cites = html_soup.find_all('cite', class_='citation', limit=4)

In [30]:
len(cites)

4

In [43]:
cites[0]

<cite class="citation web">Fowler, Matt (April 8, 2011). <a class="external text" href="http://tv.ign.com/articles/116/1160215p1.html" rel="nofollow">"Game of Thrones: "Winter is Coming" Review"</a>. <a href="/wiki/IGN" title="IGN">IGN</a>. <a class="external text" href="https://web.archive.org/web/20120817073932/http://tv.ign.com/articles/116/1160215p1.html" rel="nofollow">Archived</a> from the original on August 17, 2012<span class="reference-accessdate">. Retrieved <span class="nowrap">September 22,</span> 2016</span>.</cite>

In [44]:
cites

[<cite class="citation web">Fowler, Matt (April 8, 2011). <a class="external text" href="http://tv.ign.com/articles/116/1160215p1.html" rel="nofollow">"Game of Thrones: "Winter is Coming" Review"</a>. <a href="/wiki/IGN" title="IGN">IGN</a>. <a class="external text" href="https://web.archive.org/web/20120817073932/http://tv.ign.com/articles/116/1160215p1.html" rel="nofollow">Archived</a> from the original on August 17, 2012<span class="reference-accessdate">. Retrieved <span class="nowrap">September 22,</span> 2016</span>.</cite>,
 <cite class="citation news">Fleming, Michael (January 16, 2007). <a class="external text" href="http://www.variety.com/article/VR1117957532.html?categoryid=14&amp;cs=1" rel="nofollow">"HBO turns <i>Fire</i> into fantasy series"</a>. <i><a href="/wiki/Variety_(magazine)" title="Variety (magazine)">Variety</a></i>. <a class="external text" href="https://web.archive.org/web/20120516224747/http://www.variety.com/article/VR1117957532?refCatId=14" rel="nofollow">Archived</a> from the original on May 16, 2012<span class="reference-accessdate">. Retrieved <span class="nowrap">September 3,</span> 2016</span>.</cite>,
 <cite class="citation web"><a class="external text" href="http://www.emmys.com/shows/game-thrones" rel="nofollow">"Game of Thrones"</a>. <a href="/wiki/Emmy_Award" title="Emmy Award">Emmys.com</a><span class="reference-accessdate">. Retrieved <span class="nowrap">September 17,</span> 2016</span>.</cite>,
 <cite class="citation news">Roberts, Josh (April 1, 2012). <a class="external text" href="https://web.archive.org/web/20120401123724/http://travel.usatoday.com/destinations/story/2012-04-01/Where-the-HBO-hit-Game-of-Thrones-was-filmed/53876876/1" rel="nofollow">"Where HBO's hit 'Game of Thrones' was filmed"</a>. <i><a href="/wiki/USA_Today" title="USA Today">USA Today</a></i>. Archived from <a class="external text" href="http://travel.usatoday.com/destinations/story/2012-04-01/Where-the-HBO-hit-Game-of-Thrones-was-filmed/53876876/1" rel="nofollow">the original</a> on April 1, 2012<span class="reference-accessdate">. Retrieved <span class="nowrap">March 8,</span> 2013</span>.</cite>]

In [45]:
cites[0].get_text()

'Fowler, Matt (April 8, 2011). "Game of Thrones: "Winter is Coming" Review". IGN. Archived from the original on August 17, 2012. Retrieved September 22, 2016.'

In [48]:
link = cites[0].find('a').get('href')

In [49]:
link

'http://tv.ign.com/articles/116/1160215p1.html'

In [ ]:
for citation in cites:
    print('---->')

In [50]:
html_soup.text[:1000]

'\n\n\n\nList of Game of Thrones episodes - Wikipedia\ndocument.documentElement.className=document.documentElement.className.replace(/(^|\\s)client-nojs(\\s|$)/,"$1client-js$2");RLCONF={"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"List_of_Game_of_Thrones_episodes","wgTitle":"List of Game of Thrones episodes","wgCurRevisionId":898999050,"wgRevisionId":802553687,"wgArticleId":31120069,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Articles containing potentially dated statements from August 2017","All articles containing potentially dated statements","Official website not in Wikidata","Featured lists","Game of Thrones episodes","Lists of American drama television series episodes","Lists of fantasy television series episodes"],"wgBreakFrames":!1,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateF'

In [ ]:
episodes = []

In [51]:
ep_tables = html_soup.find_all('table', class_='wikiepisodetable')

In [53]:
ep_tables[0]

<table class="wikitable plainrowheaders wikiepisodetable" style="width:100%"><tbody><tr style="color:white;text-align:center"><th scope="col" style="background:#295354;width:5%"><abbr title="Number">No.</abbr><br/>overall</th><th scope="col" style="background:#295354;width:5%"><abbr title="Number">No.</abbr> in<br/>season</th><th scope="col" style="background:#295354;width:23%">Title</th><th scope="col" style="background:#295354;width:17%">Directed by</th><th scope="col" style="background:#295354;width:27%">Written by</th><th scope="col" style="background:#295354;width:12%">Original air date</th><th scope="col" style="background:#295354;width:10%">U.S. viewers<br/>(millions)</th></tr><tr class="vevent" style="text-align:center;background:inherit"><th id="ep1" rowspan="1" scope="row" style="text-align:center">1</th><td style="text-align:center">1</td><td class="summary" style="text-align:left">"<a href="/wiki/Winter_Is_Coming" title="Winter Is Coming">Winter Is Coming</a>"</td><td style="text-align:center"><a href="/wiki/Tim_Van_Patten" title="Tim Van Patten">Tim Van Patten</a></td><td style="text-align:center"><a href="/wiki/David_Benioff" title="David Benioff">David Benioff</a> &amp; <a href="/wiki/D._B._Weiss" title="D. B. Weiss">D. B. Weiss</a></td><td style="text-align:center">April 17, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-04-17</span>)</span></td><td style="text-align:center">2.22<sup class="reference" id="cite_ref-20"><a href="#cite_note-20">[20]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep2" rowspan="1" scope="row" style="text-align:center">2</th><td style="text-align:center">2</td><td class="summary" style="text-align:left">"<a href="/wiki/The_Kingsroad" title="The Kingsroad">The Kingsroad</a>"</td><td style="text-align:center">Tim Van Patten</td><td style="text-align:center">David Benioff &amp; D. B. Weiss</td><td style="text-align:center">April 24, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-04-24</span>)</span></td><td style="text-align:center">2.20<sup class="reference" id="cite_ref-21"><a href="#cite_note-21">[21]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep3" rowspan="1" scope="row" style="text-align:center">3</th><td style="text-align:center">3</td><td class="summary" style="text-align:left">"<a href="/wiki/Lord_Snow" title="Lord Snow">Lord Snow</a>"</td><td style="text-align:center"><a href="/wiki/Brian_Kirk" title="Brian Kirk">Brian Kirk</a></td><td style="text-align:center">David Benioff &amp; D. B. Weiss</td><td style="text-align:center">May 1, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-05-01</span>)</span></td><td style="text-align:center">2.44<sup class="reference" id="cite_ref-22"><a href="#cite_note-22">[22]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep4" rowspan="1" scope="row" style="text-align:center">4</th><td style="text-align:center">4</td><td class="summary" style="text-align:left">"<a href="/wiki/Cripples,_Bastards,_and_Broken_Things" title="Cripples, Bastards, and Broken Things">Cripples, Bastards, and Broken Things</a>"</td><td style="text-align:center">Brian Kirk</td><td style="text-align:center"><a href="/wiki/Bryan_Cogman" title="Bryan Cogman">Bryan Cogman</a></td><td style="text-align:center">May 8, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-05-08</span>)</span></td><td style="text-align:center">2.45<sup class="reference" id="cite_ref-23"><a href="#cite_note-23">[23]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep5" rowspan="1" scope="row" style="text-align:center">5</th><td style="text-align:center">5</td><td class="summary" style="text-align:left">"<a href="/wiki/The_Wolf_and_the_Lion" title="The Wolf and the Lion">The Wolf and the Lion</a>"</td><td style="text-align:center">Brian Kirk</td><td style="text-align:center">David Benioff &amp; D. B. Weiss</td><td style="text-align:center">May 15, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-05-15</span>)</span></td><td style="text-align:center">2.58<sup class="reference" id="cite_ref-24"><a href="#cite_note-24">[24]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep6" rowspan="1" scope="row" style="text-align:center">6</th><td style="text-align:center">6</td><td class="summary" style="text-align:left">"<a href="/wiki/A_Golden_Crown" title="A Golden Crown">A Golden Crown</a>"</td><td style="text-align:center"><a href="/wiki/Daniel_Minahan" title="Daniel Minahan">Daniel Minahan</a></td><td style="text-align:center"><i>Story by</i> : David Benioff &amp; D. B. Weiss <br/><i>Teleplay by</i> : <a href="/wiki/Jane_Espenson" title="Jane Espenson">Jane Espenson</a> and David Benioff &amp; D. B. Weiss</td><td style="text-align:center">May 22, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-05-22</span>)</span></td><td style="text-align:center">2.44<sup class="reference" id="cite_ref-25"><a href="#cite_note-25">[25]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep7" rowspan="1" scope="row" style="text-align:center">7</th><td style="text-align:center">7</td><td class="summary" style="text-align:left">"<a href="/wiki/You_Win_or_You_Die" title="You Win or You Die">You Win or You Die</a>"</td><td style="text-align:center"><span class="nowrap">Daniel Minahan</span></td><td style="text-align:center">David Benioff &amp; D. B. Weiss</td><td style="text-align:center">May 29, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-05-29</span>)</span></td><td style="text-align:center">2.40<sup class="reference" id="cite_ref-26"><a href="#cite_note-26">[26]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep8" rowspan="1" scope="row" style="text-align:center">8</th><td style="text-align:center">8</td><td class="summary" style="text-align:left">"<a href="/wiki/The_Pointy_End" title="The Pointy End">The Pointy End</a>"</td><td style="text-align:center">Daniel Minahan</td><td style="text-align:center"><a href="/wiki/George_R._R._Martin" title="George R. R. Martin">George R. R. Martin</a></td><td style="text-align:center">June 5, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-06-05</span>)</span></td><td style="text-align:center">2.72<sup class="reference" id="cite_ref-27"><a href="#cite_note-27">[27]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep9" rowspan="1" scope="row" style="text-align:center">9</th><td style="text-align:center">9</td><td class="summary" style="text-align:left">"<a href="/wiki/Baelor" title="Baelor">Baelor</a>"</td><td style="text-align:center"><a href="/wiki/Alan_Taylor_(director)" title="Alan Taylor (director)">Alan Taylor</a></td><td style="text-align:center">David Benioff &amp; D. B. Weiss</td><td style="text-align:center">June 12, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-06-12</span>)</span></td><td style="text-align:center">2.66<sup class="reference" id="cite_ref-28"><a href="#cite_note-28">[28]</a></sup></td></tr>
<tr class="vevent" style="text-align:center;background:inherit"><th id="ep10" rowspan="1" scope="row" style="text-align:center">10</th><td style="text-align:center">10</td><td class="summary" style="text-align:left">"<a href="/wiki/Fire_and_Blood_(Game_of_Thrones)" title="Fire and Blood (Game of Thrones)">Fire and Blood</a>"</td><td style="text-align:center">Alan Taylor</td><td style="text-align:center">David Benioff &amp; D. B. Weiss</td><td style="text-align:center">June 19, 2011<span style="display:none"> (<span class="bday dtstart published updated">2011-06-19</span>)</span></td><td style="text-align:center">3.04<sup class="reference" id="cite_ref-29"><a href="#cite_note-29">[29]</a></sup></td></tr></tbody></table>

## Web APIs

### Primer uporabe APIja

https://github.com/HackerNews/API

In [60]:
articles = []

In [57]:
url = 'https://hacker-news.firebaseio.com/v0'

In [58]:
top_stories = url + '//topstories.json'

In [61]:
top_stories.text[:40]

AttributeError: 'str' object has no attribute 'text'

### Import data from web - pandas

##### [Odprti podatki Slovenije](https://podatki.gov.si/)


Na portalu OPSI boste našli vse od podatkov, orodij, do koristnih virov, s katerimi boste lahko razvijali spletne in mobilne aplikacije, oblikovali lastne infografike in drugo

Primer: https://support.spatialkey.com/spatialkey-sample-csv-data/

In [62]:
data = pd.read_csv('http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv')

In [63]:
data.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

## Web Scraping using pandas

> Spletna stran: https://www.fdic.gov/bank/individual/failed/banklist.html

`pandas.read_html: ` Read HTML tables into a list of DataFrame objects. -> [Dokumentacija](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html)

In [64]:
tables = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [66]:
len(tables)

1

In [67]:
banks = tables[0]

In [68]:
banks.info

<bound method DataFrame.info of                                              Bank Name                City  \
0                  Washington Federal Bank for Savings             Chicago
1      The Farmers and Merchants State Bank of Argonia             Argonia
2                                  Fayette County Bank          Saint Elmo
3    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
4                                       First NBC Bank         New Orleans
5                                        Proficio Bank  Cottonwood Heights
6                        Seaway Bank and Trust Company             Chicago
7                               Harvest Community Bank          Pennsville
8                                          Allied Bank            Mulberry
9                         The Woodbury Banking Company            Woodbury
10                              First CornerStone Bank     King of Prussia
11                                  Trust Company Bank             Memphis
12                          North Milwaukee State Bank           Milwaukee
13                              Hometown National Bank            Longview
14                                 The Bank of Georgia      Peachtree City
15                                        Premier Bank              Denver
16                                      Edgebrook Bank             Chicago
17                              Doral Bank  En Español            San Juan
18                   Capitol City Bank & Trust Company             Atlanta
19                             Highland Community Bank             Chicago
20                    First National Bank of Crestview           Crestview
21                                  Northern Star Bank             Mankato
22              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
23               The National Republic Bank of Chicago             Chicago
24                                      NBRS Financial          Rising Sun
25                               GreenChoice Bank, fsb             Chicago
26                            Eastside Commercial Bank             Conyers
27                              The Freedom State Bank             Freedom
28                                         Valley Bank     Fort Lauderdale
29                                         Valley Bank              Moline
..                                                 ...                 ...
525                                  ANB Financial, NA         Bentonville
526                                          Hume Bank                Hume
527                             Douglass National Bank         Kansas City
528                                  Miami Valley Bank            Lakeview
529                                            NetBank          Alpharetta
530                          Metropolitan Savings Bank          Pittsburgh
531                                    Bank of Ephraim             Ephraim
532                                      Reliance Bank        White Plains
533              Guaranty National Bank of Tallahassee         Tallahassee
534                                Dollar Savings Bank              Newark
535                               Pulaski Savings Bank        Philadelphia
536              First National Bank of Blanchardville      Blanchardville
537                              Southern Pacific Bank            Torrance
538                        Farmers Bank of Cheneyville         Cheneyville
539                                      Bank of Alamo               Alamo
540             AmTrade International Bank  En Español             Atlanta
541                     Universal Federal Savings Bank             Chicago
542                       Connecticut Bank of Commerce            Stamford
543                                   New Century Bank     Shelby Township
544                              Net 1st National Bank          Boca Raton
545                                       NextBank, NA             Phoenix
546                           Oakwood Deposit Bank Co.             Oakwood
547                              Bank of Sierra Blanca       Sierra Blanca
548                      Hamilton Bank, NA  En Español               Miami
549                             Sinclair National Bank            Gravette
550                                 Superior Bank, FSB            Hinsdale
551                                Malta National Bank               Malta
552                    First Alliance Bank & Trust Co.          Manchester
553                  National State Bank of Metropolis          Metropolis
554                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution        Closing Date  \
0    IL  30570                   Royal Savings Bank   December 15, 2017
1    KS  17719                          Conway Bank    October 13, 2017
2    IL   1802            United Fidelity Bank, fsb        May 26, 2017
3    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
4    LA  58302                         Whitney Bank      April 28, 2017
5    UT  35495                    Cache Valley Bank       March 3, 2017
6    IL  19328                  State Bank of Texas    January 27, 2017
7    NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
8    AR     91                         Today's Bank  September 23, 2016
9    GA  11297                          United Bank     August 19, 2016
10   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
11   TN   9956           The Bank of Fayette County      April 29, 2016
12   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
13   WA  35156                       Twin City Bank     October 2, 2015
14   GA  35259                        Fidelity Bank     October 2, 2015
15   CO  34112            United Fidelity Bank, fsb       July 10, 2015
16   IL  57772             Republic Bank of Chicago         May 8, 2015
17   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
18   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
19   IL  20290            United Fidelity Bank, fsb    January 23, 2015
20   FL  17557                       First NBC Bank    January 16, 2015
21   MN  34983                            BankVista   December 19, 2014
22   CA  34738    Bank of Southern California, N.A.    November 7, 2014
23   IL    916                  State Bank of Texas    October 24, 2014
24   MD   4862                          Howard Bank    October 17, 2014
25   IL  28462                 Providence Bank, LLC       July 25, 2014
26   GA  58125            Community & Southern Bank       July 18, 2014
27   OK  12483      Alva State Bank & Trust Company       June 27, 2014
28   FL  21793  Landmark Bank, National Association       June 20, 2014
29   IL  10450                  Great Southern Bank       June 20, 2014
..   ..    ...                                  ...                 ...
525  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
526  MO   1971                        Security Bank       March 7, 2008
527  MO  24660       Liberty Bank and Trust Company    January 25, 2008
528  OH  16848         The Citizens Banking Company     October 4, 2007
529  GA  32575                           ING DIRECT  September 28, 2007
530  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
531  UT   1249                        Far West Bank       June 25, 2004
532  NY  26778                     Union State Bank      March 19, 2004
533  FL  26838              Hancock Bank of Florida      March 12, 2004
534  NJ  31330                          No Acquirer   February 14, 2004
535  PA  27203                       Earthstar Bank   November 14, 2003
536  WI  11639                        The Park Bank         May 9, 2003
537  CA  27094                            Beal Bank    February 7, 2003
538  LA  16445            Sabine State Bank & Trust   December 17, 2002
539  TN   9961                          No Acquirer    November 8, 2002
540  GA  33784                          No Acquirer  September 30, 2002
541  IL  29355               Chicago Community Bank       June 27, 2002
542  CT  19183                   Hudson United Bank       June 26, 2002
543  MI  34979                          No Acquirer      March 28, 2002
544  FL  26652                       Bank Leumi USA       March 1, 2002
545  AZ  22314                          No Acquirer    February 7, 2002
546  OH   8966       The State Bank & Trust Company    February 1, 2002
547  TX  22002     The Security State Bank of Pecos    January 18, 2002
548  FL  24382     Israel Discount Bank of New York    January 11, 2002
549  AR  34248                   Delta Trust & Bank   September 7, 2001
550  IL  32646                Superior Federal, FSB       July 27, 2001
551  OH   6629                    North Valley Bank         May 3, 2001
552  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
553  IL   3815              Banterra Bank of Marion   December 14, 2000
554  HI  21029                   Bank of the Orient    October 13, 2000

           Updated Date
0      February 1, 2019
1     February 21, 2018
2      January 29, 2019
3        March 22, 2018
4      January 29, 2019
5      January 29, 2019
6      January 29, 2019
7          May 18, 2017
8          May 13, 2019
9     December 13, 2018
10    November 13, 2018
11   September 14, 2018
12     January 29, 2019
13    February 19, 2018
14         July 9, 2018
15    February 20, 2018
16     January 29, 2019
17     January 29, 2019
18     January 29, 2019
19    November 15, 2017
20    November 15, 2017
21      January 3, 2018
22    November 10, 2016
23      January 6, 2016
24     January 29, 2019
25    December 12, 2016
26      October 6, 2017
27    February 21, 2018
28     January 29, 2019
29     January 29, 2019
..                  ...
525    February 1, 2019
526    January 31, 2019
527    October 26, 2012
528  September 12, 2016
529    January 31, 2019
530    October 27, 2010
531       April 9, 2008
532       April 9, 2008
533      April 17, 2018
534       April 9, 2008
535     October 6, 2017
536        June 5, 2012
537    October 20, 2008
538    October 20, 2004
539      March 18, 2005
540  September 11, 2006
541     October 6, 2017
542   February 14, 2012
543      March 18, 2005
544       April 9, 2008
545    February 5, 2015
546    October 25, 2012
547    November 6, 2003
548  September 21, 2015
549     October 6, 2017
550     August 19, 2014
551   November 18, 2002
552   February 18, 2003
553      March 17, 2005
554      March 17, 2005

[555 rows x 7 columns]>

In [69]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 1, 2019"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","January 29, 2019"

## Primeri

### Scraping and Visualizing IMDB Ratings

Stran: http://www.imdb.com/title/tt0944947/episodes

In [71]:
import requests
from bs4 import BeautifulSoup
url = 'http://www.imdb.com/title/tt0944947/episodes'

### Scraping Fast Track data

Stran: https://www.fasttrack.co.uk/league-tables/tech-track-100/league-table/

In [76]:
# import libraries
from bs4 import BeautifulSoup
import requests
import csv

In [73]:
# specify the url
urlpage =  'http://www.fasttrack.co.uk/league-tables/tech-track-100/league-table/'

In [74]:
page = requests.get(urlpage)

In [78]:
soup = BeautifulSoup(page.text, 'html.parser')

In [79]:
# write columns to variables
rank = data[0].getText()
company = data[1].getText()
location = data[2].getText()
yearend = data[3].getText()
salesrise = data[4].getText()
sales = data[5].getText()
staff = data[6].getText()
comments = data[7].getText()

KeyError: 0

#### Celotni program skupaj